## 1. 1에서 200까지 모든 3의 배수 합계 계산 (while문)

In [5]:
result = 0
num = 1
while num <= 200 :
    if num % 3 == 0:
        result += num
    num += 1

print(result)

6633

In [20]:
result = 0
num = 3
while num <= 200:
    result += num
    num += 3
print(result)

6633

## 2. 1에서 10까지 출력하되 3의 배수는 건너뛰기 (for문)

In [6]:
for i in range(1,11):
    if i % 3:
        print(i)

1
2
4
5
7
8
10

## 3. 이중 루프 사용하여 삼각형 출력
```
            *
           **
          ***
         ****
        *****
       ******
      *******
     ********
    *********
   **********
 ```

In [16]:
for x in range(1, 11):
    print(' ' * (10 - x), end='')
    for y in range(x):
        print('*', end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

sol

In [22]:
for y in range(1, 11):
    for s in range(10-y):
        print(' ', end = '')
    for x in range(y):
        print('*', end = '')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

## 4. 이중 루프 사용하여 다음 삼각형 출력
```
            *
           ***
          *****
         *******
        *********
       ***********
      *************
     ***************
    *****************
   *******************
```

In [19]:
for x in range(1, 11):
    print(' ' * (10 - x), end='')
    for y in range(2*x-1):
        print('*', end='')
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

sol

In [23]:
for y in range(1, 11):
    for s in range(10-y):
        print(' ', end = '')
    for x in range(y*2-1):
        print('*', end = '')
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************