### Width

In [1]:
value = 123
print('###%d###' % value)
print('###%5d###' % value)
print('###%10d###' % value)
print('###%1d###' % value)

###123###
###  123###
###       123###
###123###

### Align

In [2]:
price = [30, 13500, 2000]

for p in price:
    print("가격:%d원"  % p)
for p in price:
    print("가격:%7d원" % p)

가격:30원
가격:13500원
가격:2000원
가격:     30원
가격:  13500원
가격:   2000원

### Numalign

In [5]:
price = [30, 13500, 2000]
for p in price:
    print("가격:%-7d원" % p)

가격:30     원
가격:13500  원
가격:2000   원

### Precision

In [6]:
pie = 3.14159265
print("%10f" % pie)   # 별 다른 지정이 없는 겨우, 소수점 6자리까지 반올림하여 표시
print("%10.8f" % pie)
print("%10.5f" % pie)
print("%10.2f" % pie)

  3.141593
3.14159265
   3.14159
      3.14

### {}.format 메서드 사용

In [7]:
name = 'Jack'
age = 16
height = 162.5
print("이름:{}, 나이:{}, 키:{}".format(name, age, height))

이름:Jack, 나이:16, 키:162.5

In [8]:
name = 'Jack'
age = 16
height = 162.5
print("이름:{2}, 나이:{0}, 키:{1}".format(age, height, name))

이름:Jack, 나이:16, 키:162.5

In [10]:
print("이름:{name}, 나이:{age}, 키:{height}".format(name = 'Woo', age = 20, height = 160.9))

이름:Woo, 나이:20, 키:160.9

### 사전에 저장된 값 출력

In [11]:
boy = {"name":"Han", "age":15, "height":158.7}
print("이름:{0[name]}, 나이:{0[age]}, 키:{0[height]}".format(boy))

이름:Han, 나이:15, 키:158.7

### 인수 타입 지정

In [12]:
name = "Han"
age = 15
height = 158.7
print("이름:{0:s}, 나이:{1:d}, 키:{2:f}".format(name, age, height))

이름:Han, 나이:15, 키:158.700000

### Width, Precision

In [13]:
name = "Han"
age = 15
height = 158.7
print("이름:{0:10s}, 나이:{1:5d}, 키:{2:8.2f}".format(name, age, height))

이름:Han       , 나이:   15, 키:  158.70

### Align

In [15]:
name = "Han"
age = 15
height = 158.7
print("이름:{0:^10s}, 나이:{1:>5d}, 키:{2:<8.2f}".format(name, age, height))

이름:   Han    , 나이:   15, 키:158.70

In [16]:
name = "Han"
age = 15
height = 158.7
print("이름:{0:$^10s}, 나이:{1:0>5d}, 키:{2:!<8.2f}".format(name, age, height))

이름:$$$Han$$$$, 나이:00015, 키:158.70!!

## 연습문제

### 2. universe를 한 행에 한 글자씩 출력

In [18]:
s = "universe"
for x in s:
    print(x)

u
n
i
v
e
r
s
e

### 3. "차종:코란도C, 제조사:쌍용, 배기량:1998" 문자열에서 제조사만 추출

In [19]:
s = "차종:코란도C, 제조사:쌍용, 배기량:1998"
print(s[13:15])

쌍용

### 5. 도메인이 .kr로 끝나는 한국 도메인인지 확인하는 코드 작성

In [22]:
domain = input()
if domain.endswith('.kr'):
    print('한국 도메인입니다.')
else:
    print('한국 도메인이 아닙니다.')

wwww.naver.com
한국 도메인이 아닙니다.

### 6. sosi 문자열에 "태연, 유리, 수영" 이름이 저장되어 있다. 각 가수의 이름을 추출하여 "사랑해"와 함께 출력

In [29]:
sosi = "태연, 유리, 수영"

for n in range(3):
    print(sosi[4*n:4*n+2] + " 사랑해💖")

태연 사랑해💖
유리 사랑해💖
수영 사랑해💖

In [36]:
sosi = "태연, 유리, 수영"
singer = sosi.split(', ')
for s in singer:
    print(s + " 사랑해💖")

태연 사랑해💖
유리 사랑해💖
수영 사랑해💖

### 7. "아침에 커피로 시작하고 밥 먹고 커피 마시고 자기 전에도 커피를 마신다." 문자열에서 모든 커피를 우유로 바꾸기

In [37]:
s = "아침에 커피로 시작하고 밥 먹고 커피 마시고 자기 전에도 커피를 마신다." 

s = s.replace('커피','우유')
print(s)

아침에 우유로 시작하고 밥 먹고 우유 마시고 자기 전에도 우유를 마신다.

### 8. 임의의 주민등록번호 901231-1917983 에서 생년과 성별을 추출하여 "90년생 남자"라는 결과 출력

In [34]:
n = '901231-1917983'

if n[7] in ('1','3'):
    print('{}년생 남자'.format(n[:2]))
else:
    print('{}년생 여자'.format(n[:2]))

90년생 남자

In [38]:
jumin = '901231-1917983'
birth = jumin[:2]
if int(jumin[7]) % 2 == 1:
    gender = '남자'
else:
    gender = '여자'

print('%s년생 %s' % (birth, gender))

90년생 남자

### 9. total 변수에 총점 356이 저장되어 있고, avg 변수에 평균 89.2785가 저장되어 있다. 두 변수의 값을 한 문자열로 조립하여 출력하되 평균은 반올림하여 소수점 2자리만 출력하라.

In [35]:
total = 356
avg = 89.2785

print('총점: %d, 평균: %.2f' % (total, avg))

총점: 356, 평균: 89.28