### 리스트 요소/원소 대체

In [5]:
nums = list(range(10))  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums[2:5] = [20, 30, 40]
print(nums)
nums[6:8] = [90, 91, 92, 93, 94] # 개수 다른 경우도 대체 가능
print(nums)

[0, 1, 20, 30, 40, 5, 6, 7, 8, 9]
[0, 1, 20, 30, 40, 5, 90, 91, 92, 93, 94, 8, 9]

### 리스트 요소 삭제

In [7]:
nums = list(range(10))
nums[2:5] = []  # 값을 빈 리스트[]로 대체시 삭제 효과
print(nums)
del nums[4]     # 요소 한 개 삭제
print(nums)

[0, 1, 5, 6, 7, 8, 9]
[0, 1, 5, 6, 8, 9]

### 리스트 요소 연결

In [9]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 11]
listadd = list1 + list2
print(listadd)
listmulti = list2 * 3
print(listmulti)

[1, 2, 3, 4, 5, 10, 11]
[10, 11, 10, 11, 10, 11]

### 2차원 리스트 (성적 처리 예시)
각 학생의 총점, 평균과 전체 학생의 평균 구하기

In [15]:
score = [
    [88, 76, 92, 98],
    [65, 70, 58, 82],
    [82, 80, 78, 88]
]

total = 0
totalsub = 0

for student in score:
    sum_ = 0
    for subject in student:
        sum_ += subject
    subjects = len(student)
    print("총점 %4d, 평균 %6.2f" % (sum_, sum_/subjects))
    total += sum_
    totalsub += subjects
print("\n전체평균 %.2f" % (total/totalsub))

총점  354, 평균  88.50
총점  275, 평균  68.75
총점  328, 평균  82.00

전체평균 79.75

### List Comprehension
연습) 1~10의 값 중 3의 배수만 골라 그 제곱 값으로 구성된 리스트 만들기

In [19]:
lst = [n**2 for n in range(1, 11) if n % 3 == 0]

print(lst)

[9, 36, 81]

### 삽입

In [20]:
nums = [1, 2, 3, 4]
nums[2:2] = [90, 91, 92]
print(nums)

[1, 2, 90, 91, 92, 3, 4]

In [21]:
nums = [1, 2, 3, 4]
nums[2] = [90, 91, 92]
print(nums)

[1, 2, [90, 91, 92], 4]

### 리스트 병합

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 11]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 10, 11]

### 삭제

In [23]:
score = [88, 95, 70, 100, 99, 80, 78, 50]
score.remove(100)  # 요소값 직접 삭제
print(score)
del(score[2])      # 순서값 지정하여 삭제. del score[2]로도 호출 가능
print(score)
score[1:4] = []
print(score)       # 요소 여러 개 삭제. del score[1:4] 로도 가능

[88, 95, 70, 99, 80, 78, 50]
[88, 95, 99, 80, 78, 50]
[88, 78, 50]

### pop

In [24]:
score = [88, 95, 70, 100, 99]
print(score.pop())
print(score.pop())
print(score.pop(1))
print(score)

99
100
95
[88, 70]

### 검색

In [27]:
score = [88, 95, 70, 100, 99, 80, 78, 50]
perfect = score.index(100)
print("만점 받은 학생은 %d번입니다." % perfect)
pernum = score.count(100)
print("만점자 수는 %d명입니다." % pernum)

만점 받은 학생은 3번입니다.
만점자 수는 1명입니다.

### in/ not in

In [28]:
ans = input("결제하시겠습니까? ")
if ans in ['yes', 'y', 'ok', '네', '좋아요']:
    print("구입해주셔서 감사합니다!")
else:
    print('안녕히 가세요.')

결제하시겠습니까? yes
구입해주셔서 감사합니다!

### 정렬

In [30]:
score = [88, 95, 70, 100, 99]
score.sort() # default: reverse=False > 오름차순 정렬 reverse=True시 내림차순 정렬
print(score)

score = [88, 95, 70, 100, 99]
score.reverse()  # 원 리스트의 요소의 순서를 반대로 뒤집음
print(score)

[70, 88, 95, 99, 100]
[99, 100, 70, 95, 88]

### key 인수 사용

In [31]:
country = ["Korea", "japan", "CHINA", "america"]
country.sort()
print(country)
country.sort(key = str.lower) # 비교할 때만 잠시 소문자로 바뀔 뿐 요소 자체가 바뀌는 것은 아님
print(country)

['CHINA', 'Korea', 'america', 'japan']
['america', 'CHINA', 'japan', 'Korea']

### sorted 함수

In [32]:
score = [88, 95, 70, 100, 99]
score2 = sorted(score)
print(score)
print(score2)

[88, 95, 70, 100, 99]
[70, 88, 95, 99, 100]