## 불변 자료 집합, 튜플(tuple)
- 값의 집합이라는 점에서 리스트와 유사하지만, 초기화한 후 편집할 수 없다는 점이 차이
- 그래서 튜플을 **상수 리스트**라고도 부름

In [6]:
score = (88, 95, 70, 100, 99)
sum_ = 0
for s in score:
    sum_ += s
print("총점 : ", sum_)
print("평균 : ", sum_/len(score))

총점 :  452
평균 :  90.4

요소가 하나밖에 없는 튜플은 일반 변수와 구분되지 않아 **값 다음에 여분의 콤마(,)를 찍어** 튜플임을 표시

In [7]:
tu = 2,
value = 2
print(tu)
print(value)

(2,)
2

In [5]:
tu = 1, 2, 3, 4, 5  # 괄호 없이 가능
print(tu[3])
print(tu[1:4])
print(tu + (6, 7))
print(tu * 2)
# tu[1] = 100   TypeError: 'tuple' object does not support item assignment
# del tu[1]     TypeError: 'tuple' object doesn't support item deletion

4
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### Tuple Unpacking

In [9]:
tu = "이순신", "김유신", "강감찬"
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

이순신
김유신
강감찬

### Swap

In [11]:
a, b = 12, 34
print(a, b)
a, b = b, a   # 하나씩 순서대로 대입하는 것이 아닌 우변을 모두 평가한 후 한꺼번에 대입
print(a, b)

12 34
34 12

튜플을 사용하면 리턴값을 여러개 반환할 수 있음!!

In [13]:
import time

def gettime():
    now = time.localtime()
    return now.tm_hour, now.tm_min

result = gettime()
print("지금은 %d시 %d분입니다." % (result[0], result[1]))
print(result)

지금은 0시 30분입니다.
(0, 30)

In [14]:
hour, min = gettime()
print("지금은 %d시 %d분입니다." % (hour, min))

지금은 0시 30분입니다.

나눗셈의 몫과 나머지를 튜플로 묶어 리턴하는 내장함수 **divmod()**

In [15]:
d, m = divmod(7, 3)
print("몫", d)
print("나머지", m)

몫 2
나머지 1

---
# 🤔 튜플을 사용하는 이유
- 비용의 차이
    - 리스트는 변경 가능성을 항상 대비해야 하므로 더 많은 메모리를 사용하고 속도도 느린 반면, 튜플은 값의 집합만 표현할 뿐 바뀔 일이 없으므로 내부 구조가 훨씬 단순하고 읽는 속도도 빠름
- 편집할 수 없기 때문에 안정적
    - 리스트는 실수나 불의의 사고로 언제든지 값이 바뀔 수 있지만, 튜플은 한번 정해지면 절대로 바꿀 수 없어 실수할 위험이 없음
    - 데이터베이스에서 읽었거나 네트워크로 받은 정보는 단순히 참조만 하면 될 뿐 편집할 일이 없으므로 리스트보다 튜플로 받는 것이 더 안전
    
- 튜플은 값이 고정적이어서 **사전의 키**로 사용할 수 있고, **가변 인수 전달**에도 사용됨
---

## 연습문제

### 1. score 리스트에 성적값 8개 저장하고 총점, 평균 출력

In [18]:
score = [85, 95, 100, 76, 84, 49, 60, 99]
sum_ = sum(score)
print('총점 : ', sum_)
print('평균 : ', sum_/len(score))

총점 :  648
평균 :  81.0

### 2. score = [88, 95, 70, 100, 99] 리스트에서 2번 학생의 성적을 0점으로 변경

In [19]:
score[1] = 0
print(score)

[85, 0, 100, 76, 84, 49, 60, 99]

### 3. list comprehension을 사용하여 1에서 100 사이의 짝수로 구성된 리스트 생성

In [20]:
result3 = [n for n in range(1, 101) if n % 2 == 0]
print(result3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### 4. [n*n for n in range(1, 10) if n % 3 == 0] 구문을 평이한 루프와 조건문, 연산식으로 풀어서 작성

In [21]:
result4 = []
for n in range(1, 10):
    if n % 3 == 0:
        result4.append(n)
        
print(result4)

[3, 6, 9]

### 7. 사용자로부터 5개의 성적을 입력받아 리스트에 저장한 후 오름차순으로 정렬하여 출력

In [23]:
score =[int(input()) for _ in range(5)]
score.sort()
print(score)

60
75
40
95
80
[40, 60, 75, 80, 95]