### 빅분기 실기 작업형 제 1유형
- 데이터 전처리(preprocessing) 에 초점이 맞추어져 있음
- 주어진 2차원 데이터 세트를 가공하여 최종 결과 출력
- 데이터 전처리, 데이터 가공영역 측정

## 1. 단순한 데이터 분석

### 1.1 Top 10 구하기
boston 데이터 세트(boston.csv)의 MEDV 칼럼에 대해서 가장 작은 값부터 순서대로 10개 행을 출력해야 한다. 즉, 오름차순으로 정렬된 MEDV 값에서 Top 10을 구하시오.

In [7]:
import pandas as pd

# (1) file load 
data = pd.read_csv('bigData-main/boston.csv')

print(data.head()) # (2) 파일 형태 확인, MEDV 열 가장 마지막 위치, 수치형

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [8]:
print(data.sort_values(by='MEDV', ascending=True)) # (3) MEDV 기준으로 정렬 : 오름차순 True(default), 내림차순 False

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
398  38.35180   0.0  18.10     0  0.693    NaN  100.0  1.4896   24  666
405  67.92080   0.0  18.10     0  0.693  5.683  100.0  1.4254   24  666
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
399   9.91655   0.0  18.10     0  0.693  5.852   77.8  1.5004   24  666
414  45.74610   0.0  18.10     0  0.693  4.519  100.0  1.6582   24  666
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
166   2.01019   0.0  19.58     0  0.605  7.929   96.2  2.0459    5  403
195   0.01381  80.0   0.46     0  0.422  7.875   32.0  5.6484    4  255
283   0.01501  90.0   1.21     1  0.401  7.923   24.8  5.8850    1  198
225   0.52693   0.0   6.20     0  0.504  8.725   83.0  2.8944    8  307
186   0.05602   0.0   2.46     0  0.488  7.831   53.6  3.1992    3  193

     PTRATIO       B  LSTAT  MEDV
398     20.2  396.90  30.59   5.0
405     20.2  384.97  22.98   5.0
400     20.2  396.90  26.77   5.6
399     20.2  338.16  29.97   6.3
414     20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
166     14.7  369.30   3.70  50.0
195     14.4  394.23   2.97  50.0
283     13.6  395.52   3.16  50.0
225     17.4  382.00   4.63  50.0
186     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [5]:
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10)) # 정렬한 값 중 MEDV 열만, 상위 1개 행만 출력

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

최종 제출 코드

In [9]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

### 1.2 결측치 확인하기

boston 데이터 세트(boston.csv) 의 RM 컬럼에 대한 결측치 처리를 평균 값으로 대치하거나 삭제할 수 있다. RM 칼럼의 결측치를 평균값으로 대치한 후에 산출된 표준편차 값과 결측치를 삭제한 후에 산출된 표준편차 값의 차이를 구하시오. 단 최종적으로 출력하는 차이는 양수이다.

- 문제 유형 분석
    - RM 컬럼의 결측치 우선 확인
    - 1. 결측치를 RM 칼럼의 평균값으로 대치하고 나서 표준편차 구하기
    - 2. 결측치 삭제하고 나서 표준편차 구하기
    - 1,2 에서 각각 계산된 표준편차 값을 빼고 절대값 씌우면 최종 결과 산출

In [10]:
# (1) file load
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [12]:
# (2) data 결측치 확인 > RM 에만 15개의 결측치 확인됨
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [14]:
# (3) 결측치가 존재하는 RM 컬럼만 추출해서 copy
data_mean = data['RM'].copy()

# data_mean 변수의 결측치 개수 확인
print(data_mean.isnull().sum())

15

In [16]:
# (4) 신규로 생성된 data_mean 변수 내용 확인하고, 계산한 평균값 rm_mean 변수에 저장
print(data_mean.head())
print()

# data_mean 평균값을 rm_mean 에 저장
rm_mean = data_mean.mean()

# RM 칼럼의 평균값(rm_mean 변수) 확인
print(rm_mean)

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

6.285101832993899

In [18]:
# (5) data_mean 변수에서 평균값으로 결측치 대치
print(data_mean.fillna(rm_mean, inplace=False)) # inplace=False 로 원 데이터에 영향X

0      6.575000
1      6.421000
2      7.185000
3      6.998000
4      7.147000
         ...
501    6.593000
502    6.285102
503    6.976000
504    6.794000
505    6.030000
Name: RM, Length: 506, dtype: float64

In [19]:
# (6) inplace=True 옵션으로 결측치를 평균값으로 대치
data_mean.fillna(rm_mean, inplace=True)

# 결측치 개수 재확인
data_mean.isnull().sum()

0

In [21]:
# (7) 결측치 삭제 : data 변수의 RM 칼럼 추출하여 새로운 변수 data_del 생성
data_del = data['RM'].copy()

# data_del 의 결측치 개수 확인
print(data_del.isnull().sum())

# data_del 변수의 행/열 구조 확인
print(data_del.shape)

15
(506,)

In [22]:
# (8) dropna() 함수 사용한 결측치 데이터 삭제, inplace=True 옵션 적용
data_del.dropna(inplace=True)

print(data_del.shape)
print(data_del.isnull().sum())

(491,)
0

In [23]:
# (9) 결측치 평균값으로 대치된 data_mean 변수와 결측치 삭제된 data_del 변수 각각의 표준편차 구하기
print(data_mean.std())

print(data_del.std())

0.6975001826300911
0.7080957287241957

In [24]:
# (10) 각 표준편차 뺀 후, 결과값에 abs() 함수 사용해서 절대값 취한다.
print(abs(data_mean.std() - data_del.std()))

0.010595546094104624

최종 제출 코드

In [25]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

data_mean = data.RM.copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace=True)

data_del = data.RM.copy()
data_del.dropna(inplace=True)

print(abs(data_mean.std() - data_del.std()))

0.010595546094104624

### 1.3 이상치 확인하기
boston 데이터 세트(boston.csv)의 ZN 칼럼을 대상으로 ZN 값의 평균값에서 표준편차의 1.5배보다 크거나 작은 ZN 값의 합계를 구하시오.

- 문제 유형 분석
    - ZN 칼럼의 평균값과 표준편차를 구한다.
    - 평균값에서 1.5*표준편차보다 큰 값들을 구하고, 평균값에서 1.5*표준편차보다 작은 값들을 구한다.
    - 최종적으로 구한 값들을 모두 더한 후 출력한다.

In [26]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [28]:
# ZN 칼럼의 평균값, 표준편차값 구하기
zn_mean = data.ZN.mean()
zn_std  = data.ZN.std()

In [29]:
# 평균으로부터 1.5*표준편차만큼 떨어진 값 구하기
zn_max = zn_mean + (1.5*zn_std)
zn_min = zn_mean - (1.5*zn_std)
print(zn_max, zn_min)

46.34731585540892 -23.620043128136192

In [33]:
# zn_max 보다 큰 값 찾기
zn_max2 = data[data.ZN > zn_max].ZN
print(zn_max2)

39      75.0
40      75.0
54      75.0
55      90.0
56      85.0
57     100.0
65      80.0
66      80.0
193     60.0
194     60.0
195     80.0
196     80.0
197     80.0
198     80.0
199     95.0
200     95.0
201     82.5
202     82.5
203     95.0
204     95.0
254     80.0
255     80.0
256     90.0
283     90.0
284     90.0
285     55.0
286     80.0
287     52.5
288     52.5
289     52.5
290     80.0
291     80.0
292     80.0
298     70.0
299     70.0
300     70.0
343     55.0
344     55.0
347     85.0
348     80.0
351     60.0
352     60.0
353     90.0
354     80.0
355     80.0
Name: ZN, dtype: float64

In [34]:
# zn_min 보다 작은 값 찾기 > 해당 값 없음
print(data[data.ZN < zn_min])

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

In [35]:
# zn_max2 변수값의 합계 구하기
print(sum(zn_max2))

3462.5

최종 제출 코드

In [36]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

zn_mean = data.ZN.mean()
zn_std  = data.ZN.std()
zn_max  = zn_mean + (1.5 * zn_std)
zn_min  = zn_mean - (1.5 * zn_std)
zn_max2 = data[data.ZN > zn_max].ZN
zn_min2 = data[data.ZN < zn_min].ZN
print(sum(zn_max2) + sum(zn_min2))

3462.5

### 1.4 사분위수 구하기
boston 데이터 세트(boston.csv)에서 CHAS 칼럼과 RAD 칼럼을 제외한 칼럼에 한해서 칼럼별 IQR(Inter Quantile Range) 값을 구하시오.
단, 출력구조는 2열이고 1열은 보스턴 데이터 세트의 컬럼 이름이 표시되어야 한다.

- 문제 유형 분석
    1. boston 데이터 세트에서 CHAS 칼럼과 RAD 칼럼 삭제
    2. 나머지 열들에 대해 IQR 값, 즉 3사분위수 - 1사분위수 계산
    3. 데이터 프레임의 Y축에 해당하는 행 이름이 boston 데이터 세트의 칼럼명으로 출력

In [37]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

print(data.shape)

(506, 14)

In [41]:
# CHAS, RAD 칼럼 삭제
data.drop(columns = ['CHAS', 'RAD'])

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.573,6.593,69.1,2.4786,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.573,NaN,76.7,2.2875,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.573,6.976,91.0,2.1675,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.573,6.794,89.3,2.3889,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.573,6.030,80.8,2.5050,273,21.0,396.90,7.88,11.9

In [44]:
data_col12 = data.drop(columns = ['CHAS', 'RAD'])

# data_col12 변수의 행/열 확인
print(data_col12.shape)

(506, 12)

In [46]:
# IQR 구하기 위해 data_col12 변수의 기초통계량 확인
data_col12_desc = data_col12.describe()

print(data_col12_desc)

             CRIM          ZN       INDUS         NOX          RM         AGE  \
count  506.000000  506.000000  506.000000  506.000000  491.000000  506.000000
mean     3.613524   11.363636   11.136779    0.554695    6.285102   68.574901
std      8.601545   23.322453    6.860353    0.115878    0.708096   28.148861
min      0.006320    0.000000    0.460000    0.385000    3.561000    2.900000
25%      0.082045    0.000000    5.190000    0.449000    5.886000   45.025000
50%      0.256510    0.000000    9.690000    0.538000    6.209000   77.500000
75%      3.677083   12.500000   18.100000    0.624000    6.622000   94.075000
max     88.976200  100.000000   27.740000    0.871000    8.780000  100.000000

              DIS         TAX     PTRATIO           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.795043  408.237154   18.455534  356.674032   12.653063   22.532806
std      2.105710  168.537116    2.164946   91.294864    7.141062    9.197104
min      1.129600  187.000000   12.600000    0.320000    1.730000    5.000000
25%      2.100175  279.000000   17.400000  375.377500    6.950000   17.025000
50%      3.207450  330.000000   19.050000  391.440000   11.360000   21.200000
75%      5.188425  666.000000   20.200000  396.225000   16.955000   25.000000
max     12.126500  711.000000   22.000000  396.900000   37.970000   50.000000

In [48]:
# data_col12_desc 에서 4,6번 행 데이터 가져오기
print(data_col12_desc.iloc[[4,6]])

         CRIM    ZN  INDUS    NOX     RM     AGE       DIS    TAX  PTRATIO  \
25%  0.082045   0.0   5.19  0.449  5.886  45.025  2.100175  279.0     17.4
75%  3.677083  12.5  18.10  0.624  6.622  94.075  5.188425  666.0     20.2

            B   LSTAT    MEDV
25%  375.3775   6.950  17.025
75%  396.2250  16.955  25.000

In [50]:
# 행/열 구조 바꾸기
data_col12_desc_T = data_col12_desc.iloc[[4, 6]].T
print(data_col12_desc_T)

                25%         75%
CRIM       0.082045    3.677083
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [51]:
# 3분위수에서 1분위수 빼서 IQR 구하기
print(data_col12_desc_T['75%'] - data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

최종 제출 코드

In [53]:
import pandas as pd
# data load 생략
data_col12 = data.drop(columns = ['CHAS', 'RAD'])
data_col12_desc = data_col12.describe()
data_col12_desc_T = data_col12_desc.iloc[[4,6]].T
print(data_col12_desc_T['75%'] - data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [57]:
data_col12 = data.drop(columns = ['CHAS', 'RAD'])
iqr = data_col12.quantile(0.75) - data_col12.quantile(.25)
print(iqr)

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

### 1.5 순위 구하기

boston 데이터 세트(boston.csv)의 MEDV 컬럼 기준으로 30번째로 큰 값을 1번~29번째로 큰 값에 적용한다. 그리고 MEDV 컬럼의 평균값, 중위값, 최소값, 최대값 순으로 한 줄에 출력하시오.

- 문제 유형 분석
    - MEDV 컬럼의 30번째로 큰 값을 구한다.
    - 1번째부터 29번째로 큰 값을 30번째 큰 값으로 변경한다.
    - 이후에 MEDV 컬럼의 평균값, 중위값, 최소값, 최대값을 한 줄에 출력한다.

In [59]:
print(data.MEDV.head())

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [61]:
# MEDV 컬럼 내림차순으로 정렬 후 data_new 변수에 저장
data_new = data.MEDV.sort_values(ascending=False)

print(data_new.head(30))

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
372    50.0
186    50.0
204    50.0
257    50.0
195    50.0
166    50.0
163    50.0
267    50.0
162    50.0
161    50.0
368    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
202    42.3
232    41.7
Name: MEDV, dtype: float64

In [62]:
# 30번째 큰 값 확인하기
print(data_new.iloc[29])

41.7

In [64]:
# 1번~29번째(행번호 0~28)로 큰 값 확인 & 30번째 큰 값(41.7)으로 대체
data_new.iloc[:28] = data_new.iloc[29]

# 1~29번째 큰 값 확인
data_new.iloc[:28]

283    41.7
225    41.7
369    41.7
370    41.7
371    41.7
372    41.7
186    41.7
204    41.7
257    41.7
195    41.7
166    41.7
163    41.7
267    41.7
162    41.7
161    41.7
368    41.7
262    41.7
203    41.7
233    41.7
228    41.7
282    41.7
280    41.7
224    41.7
256    41.7
98     41.7
268    41.7
261    41.7
253    41.7
Name: MEDV, dtype: float64

In [65]:
# data_new 변수에서 평균값, 중위값, 최소값, 최대값 구하기
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.180830039525684 21.2 5.0 42.3

최종 제출 코드

In [66]:
import pandas as pd
# data load 생략 pd.read_csv()
data_new = data.MEDV.sort_values(ascending=False) # 내림차순
data_new.iloc[:28] = data_new.iloc[29]
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.180830039525684 21.2 5.0 42.3

----

## 2. 복잡한 데이터 분석

### 2.1 그룹별 집계/요약하기

boston 데이터 세트(boston.csv)의 TAX 칼럼이 TAX 칼럼의 중위값보다 큰 데이터를 대상으로, CHAS 칼럼과 RAD 칼럼 순으로 그룹을 지은 후 각 그룹의 데이터 개수를 구하시오. 단 CHAS, RAD 칼럼별 데이터 개수는 COUNT 라는 칼럼으로 출력합니다.

- 문제 유형 분석
    - TAX 칼럼 값에서 TAX 칼럼의 중위수보다 큰 값들을 구한다.
    - CHAS 칼럼과 RAD 칼럼 순서로 그룹을 짓는다.
    - 해당하는 그룹의 데이터 계수 계산한다.

In [68]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [69]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [71]:
# TAX 칼럼 중위값 계산
tax_median = data.TAX.median()
print(tax_median)

330.0

In [72]:
# TAX 칼럼에서 중위값보다 큰 값들만 추출
print(data[data.TAX > tax_median])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
54   0.01360  75.0   4.00     0  0.410  5.888  47.6  7.3197    3  469
65   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4  337
66   0.04379  80.0   3.37     0  0.398  5.787  31.1  6.6115    4  337
67   0.05789  12.5   6.07     0  0.409  5.878  21.4  6.4980    4  345
68   0.13554  12.5   6.07     0  0.409  5.594  36.8  6.4980    4  345
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
496  0.28960   0.0   9.69     0  0.585  5.390  72.9  2.7986    6  391
497  0.26838   0.0   9.69     0  0.585    NaN  70.6  2.8927    6  391
498  0.23912   0.0   9.69     0  0.585  6.019  65.3  2.4091    6  391
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
500  0.22438   0.0   9.69     0  0.585  6.027  79.7  2.4982    6  391

     PTRATIO       B  LSTAT  MEDV
54      21.1  396.90  14.80  18.9
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
67      18.9  396.21   8.10  22.0
68      18.9  396.90  13.09  17.4
..       ...     ...    ...   ...
496     19.2  396.90  21.14  19.7
497     19.2  396.90  14.10  18.3
498     19.2  396.90  12.92  21.2
499     19.2  395.77  15.10  17.5
500     19.2  396.90  14.33  16.8

[250 rows x 14 columns]

In [74]:
# TAX 칼럼에서 중위값보다 큰 값을 기준으로 CHAS 칼럼과 RAD 칼럼 추출
data_new = data[data.TAX > tax_median][['CHAS', 'RAD']]
print(data_new)

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [76]:
# CHAS 칼럼에 들어있는 값 종류 확인
print(data_new.CHAS.unique())

# RAD 칼럼에 들어있는 값 종류 확인
print(data_new.RAD.unique())

[0 1]
[ 3  4  5  6  2  1 24]

In [78]:
data_new.groupby(['CHAS', 'RAD'])['RAD'].count()

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [80]:
data_new2 = data_new.groupby(['CHAS', 'RAD'])['CHAS'].count()  # 위와 결과 동일
data_new2

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: CHAS, dtype: int64

In [83]:
type(data_new2)

# data_new2 변수를 데이터프레임 타입으로 변경하고 data_new3 로 저장
data_new3 = pd.DataFrame(data_new2)

# data_new3 변수에서 카운트 연산 수행시의 컬럼명 COUNT 로 정의
data_new3.columns = ['COUNT']

# 최종 제출가능한 data_new 값 확인
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

최종 제출 코드

In [88]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

tax_median = data.TAX.median()
data_new = data[data.TAX > tax_median]
data_new2 = pd.DataFrame(data_new.groupby(['CHAS', 'RAD'])['RAD'].count())
data_new2.columns = ['COUNT']
print(data_new2)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

### 2.2 오름차순 / 내림차순 정렬하기

boston 데이터 세트(boston.csv)의 TAX 칼럼을 오름차순으로 정렬한 결과와 내림차순으로 정렬한 결과를 각각 구한다. 그리고 각 순번에 맞는 오름차순 값과 내림차순 값의 차이를 구하여 분산 값을 출력하시오.

- 문제 유형 분석
    - TAX 칼럼을 기준으로 오름차순으로 정렬한 데이터 세트를 만들고, 내림차순으로 정렬한 데이터 세트를 만든다.
    - 첫 번째 오름차순 데이터는 가장 작은 값이 위치하고, 첫 번째 내림차순 데이터는 가장 큰 값이 위치하게 된다.
    - 동일한 위치에 있는 오름차순 데이터와 내림차순 데이터의 차이 값에서 분산을 계산한다.

In [91]:
data_asc = data.TAX.sort_values(ascending=True)
data_desc = data.TAX.sort_values(ascending=False)

In [94]:
# 같은 위치를 만들기 위해 인덱스 재조정 / drop = True : 현재 인덱스 정보 삭제, inplace = True : 즉시 적용
data_asc.reset_index(drop=True, inplace=True)
data_desc.reset_index(drop=True, inplace=True)

In [95]:
print(data_asc.head(5), data_desc.head(5))

0    187
1    188
2    188
3    188
4    188
Name: TAX, dtype: int64 0    711
1    711
2    711
3    711
4    711
Name: TAX, dtype: int64

In [98]:
# data_asc, data_desc 컬럼 단위로 붙이기 > concat()
data_concat = pd.concat([data_asc, data_desc], axis=1)
print(data_concat.head())

   TAX  TAX
0  187  711
1  188  711
2  188  711
3  188  711
4  188  711

In [105]:
# 컬럼간 차이 구하기
data_concat['diff'] = data_concat.apply(lambda x: abs(x[1] - x[0]), axis=1)
data_concat

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]

In [107]:
# diff컬럼 분산 구하기
print(data_concat['diff'].var())

28490.5986459515

최종 제출 코드

In [108]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
tax = data.TAX
data_asc = tax.sort_values(ascending=True)
data_desc = tax.sort_values(ascending=False)
data_asc.reset_index(drop=True, inplace=True)
data_desc.reset_index(drop=True, inplace=True)
data_concat = pd.concat([data_asc, data_desc], axis=1)
data_concat['diff'] = abs(data_concat.iloc[:, 0] - data_concat.iloc[:,1])
print(data_concat['diff'].var())

28490.5986459515

### 2.3 최대최소 변환하기 (MinMaxScaler)

boston 데이터 세트(boston.csv)의 MEDV 컬럼을 최소최대 척도(MinMax Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

- 문제 유형 분석
    - MEDV 컬럼 값들을 최소값 0, 최대값 1의 범위로 변환 == 최소-최대 척도로 변환
    - 직접 계산을 수행할 수도 있으나, sklearn 라이브러리 활용하여 MinMaxScaler 함수 호출 가능

In [109]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv('bigData-main/boston.csv')
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,NaN,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [116]:
# 모델 객체 생성
scaler = MinMaxScaler()

# 최소-최대 척도로 변환
data_minmax = scaler.fit_transform(data)

# data_minmax 변수 데이터 타입 확인
print(type(data_minmax))

<class 'numpy.ndarray'>

numpy.ndarray 타입은 pandas 라이브러리로 데이터 가공불가하므로 데이터 프레임 타입으로 변환

In [117]:
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)

data_minmax.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680,0.422222
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470,0.368889
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466,0.660000

In [118]:
# data_minmax 변수의 MEDV 컬럼에 대한 기초 통계량 확인
print(data_minmax['MEDV'].describe())  # min 0, max 1 로 변환

count    506.000000
mean       0.389618
std        0.204380
min        0.000000
25%        0.267222
50%        0.360000
75%        0.444444
max        1.000000
Name: MEDV, dtype: float64

In [119]:
# MEDV 컬럼의 값이 0.5보다 큰 값일 경우 전체 값 출력
print(data_minmax[data_minmax.MEDV > 0.5])

         CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
2    0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962
3    0.000293  0.00  0.063050   0.0  0.150206  0.658555  0.441813  0.448545
4    0.000705  0.00  0.063050   0.0  0.150206  0.687105  0.528321  0.448545
5    0.000264  0.00  0.063050   0.0  0.150206  0.549722  0.574665  0.448545
39   0.000240  0.75  0.091276   0.0  0.088477  0.581337  0.194645  0.388428
..        ...   ...       ...   ...       ...       ...       ...       ...
370  0.073423  0.00  0.646628   1.0  0.506173  0.662004  0.974253  0.006620
371  0.103698  0.00  0.646628   0.0  0.506173  0.508718  1.000000  0.003592
372  0.092851  0.00  0.646628   1.0  0.582305  0.443380  0.892894  0.000000
407  0.134256  0.00  0.646628   0.0  0.563786  0.392221  1.000000  0.014149
473  0.052159  0.00  0.646628   0.0  0.471193  0.655106  0.666323  0.127609

          RAD       TAX   PTRATIO         B     LSTAT      MEDV
2    0.043478  0.104962  0.553191  0.989737  0.063466  0.660000
3    0.086957  0.066794  0.648936  0.994276  0.033389  0.631111
4    0.086957  0.066794  0.648936  1.000000  0.099338  0.693333
5    0.086957  0.066794  0.648936  0.992990  0.096026  0.526667
39   0.086957  0.124046  0.606383  0.996798  0.071468  0.573333
..        ...       ...       ...       ...       ...       ...
370  1.000000  0.914122  0.808511  0.987770  0.033940  1.000000
371  1.000000  0.914122  0.808511  0.922462  0.215232  1.000000
372  1.000000  0.914122  0.808511  0.876393  0.197296  1.000000
407  1.000000  0.914122  0.808511  0.836578  0.286976  0.508889
473  1.000000  0.914122  0.808511  0.943971  0.274007  0.551111

[106 rows x 14 columns]

In [120]:
print(data_minmax.loc[data_minmax.MEDV > 0.5, 'MEDV'].count())

106

최종 제출 코드

In [121]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv('bigData-main/boston.csv')
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)
print(data_minmax.loc[data_minmax.MEDV > .5, 'MEDV'].count())

106

### 2.4 빈도값 구하기

boston 데이터 세트(boston.csv)의 AGE 칼럼을 소수점 첫 번째 자리에서 반올림하고, 가장 많은 비중을 차지하는 AGE  값과 그 개수를 차례대로 출력하시오. 즉, AGE 칼럼의 최빈값과 그 개수를 출력하시오.

- 문제 유형 분석(1)
    - AGE 칼럼의 값들을 소수점 첫 번째 자리에서 반올림해서 정수 형태로 변환
    - AGE 칼럼을 기준으로 그룹화하여 그룹별 개수를 계산
    - AGE 칼럼에서 최빈값이 무엇이고, 해당하는 값이 몇개가 있는지 출력
- 문제 유형 분석(2)
    - scipy 라이브러리에서 제공하는 mode() 함수 사용 (최빈값 구하기)

####