<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/2023_%ED%98%BC%EA%B3%B5%ED%8C%8C(python)_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 04-1. 리스트와 반복문

### 리스트에 요소 추가하기
- 리스트명.append(요소)
- 리스트명.insert(위치, 요소)

In [2]:
list_a = [1,2,3]

# 리스트 뒤에 요소 추가
list_a.append(4)
list_a.append(5)
print("# 리스트 뒤 요소 추가")
print(list_a)
print()

# 리스트 중간에 요소 추가
list_a.insert(2, 10)
print("# 리스트 중간에 요소 추가")
print(list_a)

# 리스트 뒤 요소 추가
[1, 2, 3, 4, 5]

# 리스트 중간에 요소 추가
[1, 2, 10, 3, 4, 5]

- 한 번에 여러 요소 추가: extend()
    - 매개변수로 리스트 입력

In [3]:
list_a = [1, 2, 3]
list_a.extend([4, 5, 6])

print(list_a)

[1, 2, 3, 4, 5, 6]

- 비파괴적: 리스트 연결 연산자(+)
- 파괴적: append(), insert(), extend() > 리스트에 직접적인 영향

### 리스트 요소 제거
#### 인덱스로 제거하기: del 키워드, pop()

- del 리스트명[인덱스] : 슬라이싱으로 범위 선택하여 제거 가능
- 리스트명.pop(인덱스) : 매개변수 default = -1 (마지막 요소 제거)

In [5]:
list_a = [i for i in range(6)]

print("# 리스트 요소 하나 제거")
# 제거 방법[1] - del 키워드
del list_a[1]
print("del list_a[1]: ", list_a)

# 제거 방법[2] - pop()
list_a.pop(2)
print("list_a.pop(2): ", list_a)

# 리스트 요소 하나 제거
del list_a[1]:  [0, 2, 3, 4, 5]
list_a.pop(2):  [0, 2, 4, 5]

#### 값으로 제거하기
- 리스트.remove(값)

In [6]:
list_c = [1, 2, 1, 2]
list_c.remove(2)       # 중복값인 경우, 가장 먼저 발견되는 하나만 제거
list_c

[1, 1, 2]

#### 모두 제거하기
- 리스트.clear()

In [7]:
list_d = [0, 1, 2, 3, 4, 5]
list_d.clear()
list_d

[]

### 리스트 정렬: sort()
- 리스트.sort()
- default: 오름차순 정렬(reverse = False)

In [8]:
list_e = [52, 273, 103, 32, 275, 1 ,7]
list_e.sort()
list_e

[1, 7, 32, 52, 103, 273, 275]

In [10]:
list_e.sort(reverse = True)
list_e

[275, 273, 103, 52, 32, 7, 1]

### 중첩 리스트와 중첩 반복문

#### 2차원 리스트 + 반복문 2번

In [12]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]

for items in list_of_list:
    for item in items:
        print(item)

1
2
3
4
5
6
7
8
9

### 전개 연산자
- 리스트 내용을 전개해서 입력 가능
- 리스트 앞에 * 기호 사용
- 기본적으로 1. 리스트 내부, 2. 함수의 매개변수 위치에 사용
- append() 함수 같이 리스트에 요소 추가시 코드를 **비파괴적**으로 구현 가능

#### 1. 리스트 내부에 사용하는 경우

In [13]:
a = [1, 2, 3, 4]
b = [*a, *a]
b

[1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
# append() 함수 사용시
a = [1, 2, 3, 4]
a.append(5)
a

[1, 2, 3, 4, 5]

In [15]:
# 전개 연산자 사용시
b = [1, 2, 3, 4]
c = [*b, 5]
print(b)
c

[1, 2, 3, 4]

[1, 2, 3, 4, 5]

#### 2. 함수 매개변수 위치에 사용하는 경우

In [16]:
a = [1, 2, 3, 4]
print(*a)

1 2 3 4

## 04-2. 딕셔너리와 반복문

In [20]:
# 딕셔너리 요소 접근
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

# 출력
print("name: ", dictionary["name"])
print("type: ", dictionary["type"])
print("ingredient: ", dictionary["ingredient"])
print("origin: ", dictionary["origin"])
print()

# 값 변경
dictionary["name"] = "8D 건조 망고"
print("name: ", dictionary["name"])

name:  7D 건조 망고
type:  당절임
ingredient:  ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin:  필리핀

name:  8D 건조 망고

### 딕셔너리 값 추가/ 제거

In [21]:
# 값 추가
dictionary["price"] = 5000
dictionary

{'name': '8D 건조 망고',
 'type': '당절임',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'],
 'origin': '필리핀',
 'price': 5000}

In [22]:
# 값 제거
del dictionary["ingredient"]
dictionary

{'name': '8D 건조 망고', 'type': '당절임', 'origin': '필리핀', 'price': 5000}

### 딕셔너리 내부에 키가 있는지 확인

#### 1. in 키워드

In [24]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

key = input("> 접근하고자 하는 키: ")

if key in dictionary:
    print(dictionary[key])
else:
    print('존재하지 않는 키에 접근하고 있습니다.')

> 접근하고자 하는 키: sdf
존재하지 않는 키에 접근하고 있습니다.

#### 2. get() 함수
- 딕셔너리의 키로 값을 추출하는 기능
- 딕셔너리[키]를 입력할 때와 같은 기능을 수행하나, 존재하지 않는 키에 접근할 경우 KeyError가 아닌 None 출력

In [25]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

value = dictionary.get("존재하지 않는 키")
print("값: ", value)

# None 확인 방법 ------> None과 같은지 확인만 하면 됨!
if value == None:
    print("존재하지 않는 키에 접근하였습니다.")

값:  None
존재하지 않는 키에 접근하였습니다.

### 확인문제 3.
숫자 몇 번 등장하는지 출력하는 코드 작성

In [35]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = {}

for number in numbers:
    if counter.get(number) == None:
        counter[number] = 1
    else:
        counter[number] += 1

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

파이썬은 아래와 같이 특정 값이 어떤 자료형인지 확인 가능

In [36]:
type("문자열") is str  # True
type([]) is list       # True
type({}) is dict       # True

True

In [40]:
character = {
    "name" : "가사",
    "level": 12,
    "items": {
        "sword": "불꽃의 검",
        "armor": "풀플레이트",
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

# for 반복문 사용한 출력
for key in character:
    # print(key, type(character[key]))
    key_type = type(character[key])
    if key_type in (str, int, float):
        print("{} : {}".format(key, character[key]))
    elif key_type is list:
        for item in character[key]:
            print("{} : {}".format(key, item))
    elif key_type is dict:
        for ikey in character[key]:
            print("{} : {}".format(ikey, character[key][ikey]))

name : 가사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

## 04-3. 범위 자료형과 while 반복문
### 범위: 정수범위 생성시 range()

In [41]:
list(range(5))

[0, 1, 2, 3, 4]

In [42]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [43]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [44]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [45]:
list(range(0, 10, 3))  # start, end-1, step

[0, 3, 6, 9]

#### range 함수의 매개변수는 **반드시 정수**를 사용해야 함

In [47]:
n = 10
a = range(0, int(n/2))
list(a)

[0, 1, 2, 3, 4]

위 방법보다 정수 나누기 연산자를 더 많이 사용!

In [48]:
a = range(0, n//2)
list(a)

[0, 1, 2, 3, 4]

### for 반복문: 반대로 반복하기 (역반복문)

1. range() 함수의 매개변수를 3개 사용

In [50]:
for i in range(4, 0 -1, -1):
    print("현재 반복 변수: ",i)

현재 반복 변수:  4
현재 반복 변수:  3
현재 반복 변수:  2
현재 반복 변수:  1
현재 반복 변수:  0

2. reversed() 함수 사용

In [51]:
for i in reversed(range(5)):
    print("현재 반복 변수: ", i)

현재 반복 변수:  4
현재 반복 변수:  3
현재 반복 변수:  2
현재 반복 변수:  1
현재 반복 변수:  0

### 중첩반복문으로 피라미드 만들기 (1)

In [57]:
for i in range(1, 10):
    for j in range(i):
        print('*', end = '')
    print()

*
**
***
****
*****
******
*******
********
*********

In [58]:
output = ""

for i in range(1, 10):
    for j in range(0, i):
        output += "*"
    output += '\n'

print(output)

*
**
***
****
*****
******
*******
********
*********

### 중첩 반복문으로 피라미드 만들기 (2)

In [60]:
output = ""

for i in range(1, 15):
    for j in range(14, i, -1):
        output += ' '
    for k in range(0, 2 * i -1):
        output += '*'
    output += '\n'

print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************