<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/2023_%ED%98%BC%EA%B3%B5%ED%8C%8C(python)_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 세트(Set)

- 순서에 의미 없음
- 중복 허용하지 않음: 세트 내부에 같은 요소를 여러 개 넣어도 중복되는 요소 모두 무시!

In [5]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a, b)

{1, 2, 3} {2, 3, 4}

In [2]:
c = {1, 1, 2, 2, 3, 3}
c

{1, 2, 3}

### 연산자
- 합집합 ( | )
- 교집합 ( & )
- 차집합 ( - )
- 대칭차집합 ( ^ )

In [6]:
# 합집합
a | b

{1, 2, 3, 4}

In [7]:
# 교집합
a & b

{2, 3}

In [8]:
# 차집합: 피연산자 순서에 따라 결과 달라짐 주의
print("a - b = ", a - b)
print("b - a = ", b - a)

a - b =  {1}
b - a =  {4}

In [9]:
# 대칭 차집합: 한쪽에만 존재하는 요소들 추출 == 합집합 - 교집합
print(a ^ b)

{1, 4}

In [11]:
( a | b ) - ( a & b )

{1, 4}

In [12]:
schools = ['가 고등학교', '나 고등학교', '다 고등학교', '가 고등학교', '다 고등학교', '다 고등학교', '라 고등학교']

sch_set = set()  # 빈 세트 생성
for school in schools:
    sch_set.add(school)  # 요소 하나 추가시 add() 함수 사용

print(f"{len(sch_set)}개 학교, {sch_set}")

4개 학교, {'나 고등학교', '가 고등학교', '다 고등학교', '라 고등학교'}

#### update() 함수
- update() : 리스트를 한꺼번에 읽어 들일 수 있어 반복문으로 리스트 요소를 하나씩 불러오지 않아도 됨

In [13]:
sch_set = set()
sch_set.update(schools)

print(f"{len(sch_set)}개 학교, {sch_set}")

4개 학교, {'나 고등학교', '가 고등학교', '다 고등학교', '라 고등학교'}

#### 리스트 set() 함수에 바로 넣기

In [14]:
schools = ['가 고등학교', '나 고등학교', '다 고등학교', '가 고등학교', '다 고등학교', '다 고등학교', '라 고등학교']

sch_set = set(schools)
print(f"{len(sch_set)}개 학교, {sch_set}")

4개 학교, {'나 고등학교', '가 고등학교', '다 고등학교', '라 고등학교'}

## 세트 내포(Set comprehension) & 딕셔너리 내포(Dictionary comprehension)

### 1. List Comprehension

In [15]:
[ item * item               # (1) 요소로 만들 부분
 for item in range(0, 10)   # (2) 반복문 부분
 if item % 2 == 0]          # (3) 조건문 부분

[0, 4, 16, 36, 64]

### 2. Set Comprehension

In [16]:
a = {
    item * item
    for item in range(0, 10)
    if item % 2 == 0
}

print("type(a): ", type(a))
print("a: ", a)

type(a):  <class 'set'>
a:  {0, 64, 4, 36, 16}

### 3. Dictionary Comprehension

In [17]:
a = {
    f"키_{item}": item * item
    for item in range(0, 10)
    if item % 2 == 0
}

print("type(a): ", type(a))
print("a: ", a)

type(a):  <class 'dict'>
a:  {'키_0': 0, '키_2': 4, '키_4': 16, '키_6': 36, '키_8': 64}

## 제너레이터 표현식

- 리스트 내포의 괄호를 소괄호()로 변경

In [18]:
a = (
    item * item
    for item in range(0, 10)
    if item % 2 == 0
)

print("type(a): ", type(a))
print("a: ", a)

type(a):  <class 'generator'>
a:  <generator object <genexpr> at 0x7e33e8ac19a0>

- 함수의 괄호로 둘러싸인 경우, 다음처럼 () 괄호를 사용하지 않아도 제너레이터 표현식으로 인식

In [19]:
print(
    item * item
    for item in range(0, 10)
    if item % 2 == 0
)

<generator object <genexpr> at 0x7e33e8ac1700>

### 리스트 내포를 제너레이터 표현식으로 대체하면 안되는 경우

#### 1. 미리 처리해 두고 요청이 있을 때 곧바로 데이터를 응답해야 하는 상황

- 리스트 내포와 제너레이터 표현식은 처리되는 시점이 다름
    - 리스트 내포: 리스트 내포 코드를 **사용하는 시점**에 처리가 일어남
    - 제너레이터 표현식: **제너레이터를 활용하는 시점**에 처리가 일어남
- 따라서, 미리 처리해두고 요청이 있을 때 곧바로 데이터를 응답해야 하는 상황에는 **리스트 내포**를 사용해야 함

In [22]:
# 리스트 내포
original = [1, 2, 3, 4, 5, 6]
list_comp = [str(i) for i in original]  # 처리 일어남
print(", ".join(list_comp))

1, 2, 3, 4, 5, 6

In [23]:
# 제너레이터 표현식
original = [1, 2, 3, 4, 5, 6]
gen_exp = (str(i) for i in original)
print(", ".join(gen_exp))                # 처리 일어남

1, 2, 3, 4, 5, 6

#### 2. 원본의 변경이 반영되면 안 되는 상황

- 리스트 내포: 원본 변경 시점 **전**에 처리가 일어나므로 원본 변경 반영 X
- 제너레이터 표현식: 원본 변경 시점 **이후**에 처리가 일어나므로 원본 변경 반영 O
- 따라서, 원본 변경이 예측되고, 이것이 반영되면 안되는 상황인 경우 제너레이터 표현식 사용하면 안됨

In [24]:
original = [1, 2, 3, 4, 5]
list_comp = [str(i) for i in original]
gen_exp = (str(i) for i in original)

# 원본 변경
original[0] = 100

print(", ".join(list_comp))
print(", ".join(gen_exp))

1, 2, 3, 4, 5
100, 2, 3, 4, 5