<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/2023_%ED%98%BC%EA%B3%B5%ED%8C%8C(python)_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 04-1. 리스트와 반복문

### 리스트에 요소 추가하기
- 리스트명.append(요소)
- 리스트명.insert(위치, 요소)

In [ ]:
list_a = [1,2,3]

# 리스트 뒤에 요소 추가
list_a.append(4)
list_a.append(5)
print("# 리스트 뒤 요소 추가")
print(list_a)
print()

# 리스트 중간에 요소 추가
list_a.insert(2, 10)
print("# 리스트 중간에 요소 추가")
print(list_a)

# 리스트 뒤 요소 추가
[1, 2, 3, 4, 5]

# 리스트 중간에 요소 추가
[1, 2, 10, 3, 4, 5]

- 한 번에 여러 요소 추가: extend()
    - 매개변수로 리스트 입력

In [ ]:
list_a = [1, 2, 3]
list_a.extend([4, 5, 6])

print(list_a)

[1, 2, 3, 4, 5, 6]

- 비파괴적: 리스트 연결 연산자(+)
- 파괴적: append(), insert(), extend() > 리스트에 직접적인 영향

### 리스트 요소 제거
#### 인덱스로 제거하기: del 키워드, pop()

- del 리스트명[인덱스] : 슬라이싱으로 범위 선택하여 제거 가능
- 리스트명.pop(인덱스) : 매개변수 default = -1 (마지막 요소 제거)

In [ ]:
list_a = [i for i in range(6)]

print("# 리스트 요소 하나 제거")
# 제거 방법[1] - del 키워드
del list_a[1]
print("del list_a[1]: ", list_a)

# 제거 방법[2] - pop()
list_a.pop(2)
print("list_a.pop(2): ", list_a)

# 리스트 요소 하나 제거
del list_a[1]:  [0, 2, 3, 4, 5]
list_a.pop(2):  [0, 2, 4, 5]

#### 값으로 제거하기
- 리스트.remove(값)

In [ ]:
list_c = [1, 2, 1, 2]
list_c.remove(2)       # 중복값인 경우, 가장 먼저 발견되는 하나만 제거
list_c

[1, 1, 2]

#### 모두 제거하기
- 리스트.clear()

In [ ]:
list_d = [0, 1, 2, 3, 4, 5]
list_d.clear()
list_d

[]

### 리스트 정렬: sort()
- 리스트.sort()
- default: 오름차순 정렬(reverse = False)

In [ ]:
list_e = [52, 273, 103, 32, 275, 1 ,7]
list_e.sort()
list_e

[1, 7, 32, 52, 103, 273, 275]

In [ ]:
list_e.sort(reverse = True)
list_e

[275, 273, 103, 52, 32, 7, 1]

### 중첩 리스트와 중첩 반복문

#### 2차원 리스트 + 반복문 2번

In [ ]:
list_of_list = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8, 9]
]

for items in list_of_list:
    for item in items:
        print(item)

1
2
3
4
5
6
7
8
9

### 전개 연산자
- 리스트 내용을 전개해서 입력 가능
- 리스트 앞에 * 기호 사용
- 기본적으로 1. 리스트 내부, 2. 함수의 매개변수 위치에 사용
- append() 함수 같이 리스트에 요소 추가시 코드를 **비파괴적**으로 구현 가능

#### 1. 리스트 내부에 사용하는 경우

In [ ]:
a = [1, 2, 3, 4]
b = [*a, *a]
b

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# append() 함수 사용시
a = [1, 2, 3, 4]
a.append(5)
a

[1, 2, 3, 4, 5]

In [ ]:
# 전개 연산자 사용시
b = [1, 2, 3, 4]
c = [*b, 5]
print(b)
c

[1, 2, 3, 4]

[1, 2, 3, 4, 5]

#### 2. 함수 매개변수 위치에 사용하는 경우

In [ ]:
a = [1, 2, 3, 4]
print(*a)

1 2 3 4

## 04-2. 딕셔너리와 반복문

In [ ]:
# 딕셔너리 요소 접근
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

# 출력
print("name: ", dictionary["name"])
print("type: ", dictionary["type"])
print("ingredient: ", dictionary["ingredient"])
print("origin: ", dictionary["origin"])
print()

# 값 변경
dictionary["name"] = "8D 건조 망고"
print("name: ", dictionary["name"])

name:  7D 건조 망고
type:  당절임
ingredient:  ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin:  필리핀

name:  8D 건조 망고

### 딕셔너리 값 추가/ 제거

In [ ]:
# 값 추가
dictionary["price"] = 5000
dictionary

{'name': '8D 건조 망고',
 'type': '당절임',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'],
 'origin': '필리핀',
 'price': 5000}

In [ ]:
# 값 제거
del dictionary["ingredient"]
dictionary

{'name': '8D 건조 망고', 'type': '당절임', 'origin': '필리핀', 'price': 5000}

### 딕셔너리 내부에 키가 있는지 확인

#### 1. in 키워드

In [ ]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

key = input("> 접근하고자 하는 키: ")

if key in dictionary:
    print(dictionary[key])
else:
    print('존재하지 않는 키에 접근하고 있습니다.')

> 접근하고자 하는 키: sdf
존재하지 않는 키에 접근하고 있습니다.

#### 2. get() 함수
- 딕셔너리의 키로 값을 추출하는 기능
- 딕셔너리[키]를 입력할 때와 같은 기능을 수행하나, 존재하지 않는 키에 접근할 경우 KeyError가 아닌 None 출력

In [ ]:
dictionary = {
    "name" : "7D 건조 망고",
    "type" : "당절임",
    "ingredient" : ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin" : "필리핀"
}

value = dictionary.get("존재하지 않는 키")
print("값: ", value)

# None 확인 방법 ------> None과 같은지 확인만 하면 됨!
if value == None:
    print("존재하지 않는 키에 접근하였습니다.")

값:  None
존재하지 않는 키에 접근하였습니다.

### 확인문제 3.
숫자 몇 번 등장하는지 출력하는 코드 작성

In [ ]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = {}

for number in numbers:
    if counter.get(number) == None:
        counter[number] = 1
    else:
        counter[number] += 1

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

파이썬은 아래와 같이 특정 값이 어떤 자료형인지 확인 가능

In [ ]:
type("문자열") is str  # True
type([]) is list       # True
type({}) is dict       # True

True

In [ ]:
character = {
    "name" : "가사",
    "level": 12,
    "items": {
        "sword": "불꽃의 검",
        "armor": "풀플레이트",
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

# for 반복문 사용한 출력
for key in character:
    # print(key, type(character[key]))
    key_type = type(character[key])
    if key_type in (str, int, float):
        print("{} : {}".format(key, character[key]))
    elif key_type is list:
        for item in character[key]:
            print("{} : {}".format(key, item))
    elif key_type is dict:
        for ikey in character[key]:
            print("{} : {}".format(ikey, character[key][ikey]))

name : 가사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

## 04-3. 범위 자료형과 while 반복문
### 범위: 정수범위 생성시 range()

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [ ]:
list(range(0, 10, 3))  # start, end-1, step

[0, 3, 6, 9]

#### range 함수의 매개변수는 **반드시 정수**를 사용해야 함

In [ ]:
n = 10
a = range(0, int(n/2))
list(a)

[0, 1, 2, 3, 4]

위 방법보다 정수 나누기 연산자를 더 많이 사용!

In [ ]:
a = range(0, n//2)
list(a)

[0, 1, 2, 3, 4]

### for 반복문: 반대로 반복하기 (역반복문)

1. range() 함수의 매개변수를 3개 사용

In [ ]:
for i in range(4, 0 -1, -1):
    print("현재 반복 변수: ",i)

현재 반복 변수:  4
현재 반복 변수:  3
현재 반복 변수:  2
현재 반복 변수:  1
현재 반복 변수:  0

2. reversed() 함수 사용

In [ ]:
for i in reversed(range(5)):
    print("현재 반복 변수: ", i)

현재 반복 변수:  4
현재 반복 변수:  3
현재 반복 변수:  2
현재 반복 변수:  1
현재 반복 변수:  0

### 중첩반복문으로 피라미드 만들기 (1)

In [ ]:
for i in range(1, 10):
    for j in range(i):
        print('*', end = '')
    print()

*
**
***
****
*****
******
*******
********
*********

In [ ]:
output = ""

for i in range(1, 10):
    for j in range(0, i):
        output += "*"
    output += '\n'

print(output)

*
**
***
****
*****
******
*******
********
*********

### 중첩 반복문으로 피라미드 만들기 (2)

In [ ]:
output = ""

for i in range(1, 15):
    for j in range(14, i, -1):
        output += ' '
    for k in range(0, 2 * i -1):
        output += '*'
    output += '\n'

print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

### while 반복문

#### 1. while 반복문: for 반복문처럼 사용하기

In [1]:
i = 0
while i < 10:
    print("{}번째 반복입니다.".format(i))
    i += 1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

#### 2. while 반복문: 상태를 기반으로 반복하기

In [2]:
list_test = [1, 2, 1, 2]
value = 2

# list_test 내부에 value 가 있다면 반복
while value in list_test:
    list_test.remove(value)     # 리스트명.remove(값)

print(list_test)

[1, 1]

#### 3. while 반복문: 시간을 기반으로 반복하기

- 유닉스 타임(Unix Time): 세계 표준시(UTC)로 1970년 1월 1일 0시 0분 0초를 기준으로 몇 초가 지났는지를 정수로 나타낸 것

In [3]:
import time

In [4]:
time.time()

1695128219.1503737

In [5]:
number = 0

# 5초 동안 반복
target_tick = time.time() + 5
while time.time() < target_tick:
    number += 1

print("5초 동안 {}번 반복했습니다.".format(number))

5초 동안 24280064번 반복했습니다.

#### 4. while 반복문: break 키워드/continue 키워드
- break: 반복문을 벗어날 때 사용하는 키워드. 일반적으로 무한 반복문을 만들고, 내부 반복을 벗어날 때 많이 사용
- continue: 현재 반복을 생략하고, 다음 반복으로 넘어갈 때 사용하는 키워드

In [6]:
i = 0

# 무한 반복
while True:
    print("{}번째 반복문입니다.".format(i))
    i += 1
    input_text = input("> 종료하시겠습니까?(y/n): ")
    if input_text in ("y", "Y"):
        print("반복을 종료합니다.")
        break

0번째 반복문입니다.
> 종료하시겠습니까?(y/n): n
1번째 반복문입니다.
> 종료하시겠습니까?(y/n): j
2번째 반복문입니다.
> 종료하시겠습니까?(y/n): d
3번째 반복문입니다.
> 종료하시겠습니까?(y/n): k
4번째 반복문입니다.
> 종료하시겠습니까?(y/n): y
반복을 종료합니다.

In [7]:
numbers = [5, 15, 6, 20, 7, 25]

for number in numbers:
    if number < 10:
        continue
    print(number)

15
20
25

### 확인문제

#### 1. 키와 값으로 이루어진 각 리스트를 조합해 하나의 딕셔너리 만들기

In [9]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}
# len(key_list), len(value_list)  > 4, 4

for i in range(len(key_list)):
    character[key_list[i]] = value_list[i]

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

#### 2. 1부터 숫자를 하나씩 더할 때, 몇을 더할 때 1)1000, 2) 10000 을 넘는지 구하기

In [12]:
limit_1 = 1000
limit_2 = 10000
i = 1
sum_value = 0

while sum_value < limit_1:
    sum_value += i
    i += 1

print("{}을 더할 때 {}을 넘으며 그때의 값은 {}입니다.".format(i-1, limit_1, sum_value))

45을 더할 때 1000을 넘으며 그때의 값은 1035입니다.

#### 3. 1~100까지의 숫자 중, 어떤 숫자를 곱했을 때 최대가 되는지 구하기
단, a+b = 100

In [14]:
max_value = 0
a = 0
b = 0

for i in range(1, 101):
    j = 100-i

    # 최대값 구하기
    if (i * j) >= max_value:
        max_value = i*j
        a = i
        b = j

print("최대가 되는 경우: {} * {} = {}".format(a, b, max_value))

최대가 되는 경우: 50 * 50 = 2500

## 04-4. 문자열, 리스트, 딕셔너리와 관련된 기본 함수\

- 리스트에 적용할 수 있는 기본 함수: min(), max(), sum()
- 리스트 뒤집기: reversed() → 비파괴적
- 현재 인덱스가 몇번째인지 확인: enumerate()
- 딕셔너리로 쉽게 반복문 작성하기: items()
- 리스트 안에 for문 사용하기: 리스트 내포

In [15]:
temp = reversed([1, 2, 3, 4, 5, 6])

for i in temp:
    print("첫 번째 반복문: {}".format(i))

for i in temp:
    print("두 번째 반복문: {}".format(i))

첫 번째 반복문: 6
첫 번째 반복문: 5
첫 번째 반복문: 4
첫 번째 반복문: 3
첫 번째 반복문: 2
첫 번째 반복문: 1

#### 왜 "두 번째 반복문"은 실행되지 않았을까?
> - reversed() 함수의 결과가 **제너레이터**이기 때문
> - reversed() 함수와 반복문 조합시, for 구문 내부에 reversed() 함수를 곧바로 넣어 사용

In [16]:
numbers = [1, 2, 3, 4, 5, 6]

for i in reversed(numbers):
    print("첫 번째 반복문: {}".format(i))

for i in reversed(numbers):
    print("두 번째 반복문: {}".format(i))

첫 번째 반복문: 6
첫 번째 반복문: 5
첫 번째 반복문: 4
첫 번째 반복문: 3
첫 번째 반복문: 2
첫 번째 반복문: 1
두 번째 반복문: 6
두 번째 반복문: 5
두 번째 반복문: 4
두 번째 반복문: 3
두 번째 반복문: 2
두 번째 반복문: 1

### enumerate() 함수와 반복문 조합

In [20]:
example_list = ["요소A", "요소B", "요소C"]

print("# 단순 출력")
print(example_list)
print()

print("# enumerate() 함수 적용해 출력")
print(enumerate(example_list))
print()

print("# list() 함수로 강제 변환하여 출력")
print(list(enumerate(example_list)))
print()

print("# for 반복문과 enumerate() 함수 조합해 사용")
for i, value in enumerate(example_list):
    print("{}번째 요소는 {}입니다.".format(i, value))

# 단순 출력
['요소A', '요소B', '요소C']

# enumerate() 함수 적용해 출력
<enumerate object at 0x7a677ce12b80>

# list() 함수로 강제 변환하여 출력
[(0, '요소A'), (1, '요소B'), (2, '요소C')]

# for 반복문과 enumerate() 함수 조합해 사용
0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

### 딕셔너리의 items() 함수와 반복문 조합하기

In [22]:
example_dict = {
    "키A": "값A",
    "키B": "값B",
    "키C": "값C"
}

print("# 딕셔너리의 items() 함수")
print("items(): ", example_dict.items())
print()

# for반복문과 items() 함수 조합해서 사용
print("# 딕셔너리의 items() 함수와 반복문 조합")
for key, element in example_dict.items():
    print("dictionary[{}] = {}".format(key, element))

# 딕셔너리의 items() 함수
items():  dict_items([('키A', '값A'), ('키B', '값B'), ('키C', '값C')])

# 딕셔너리의 items() 함수와 반복문 조합
dictionary[키A] = 값A
dictionary[키B] = 값B
dictionary[키C] = 값C

### 리스트 내포 (List Comprehensions)
- 리스트 이름 = [표현식 for 반복자 in 반복할 수 있는 것]
- 리스트 이름 = [표현식 for 반복자 in 반복할 수 있는 것 if 조건문]

In [23]:
array = []

for i in range(0, 20, 2):
    array.append(i * i)

print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [25]:
# 한줄로 작성하기
array = [ i*i for i in range(0, 20, 2)]
print(array)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [26]:
# 조건을 활용한 리스트 내포
array = ["사과", "자두", "초콜릿", "바나나", "체리"]
output = [ fruit for fruit in array if fruit != "초콜릿"]

print(output)

['사과', '자두', '바나나', '체리']