## 분류 모델 수행하기

### 2.1 데이터 탐색하기

#### 데이터 가져오기

In [2]:
import pandas as pd

In [9]:
X_train = pd.read_csv('./bigData-main/titanic_x_train.csv', encoding='cp949')
X_test  = pd.read_csv('./bigData-main/titanic_x_test.csv', encoding='cp949')
y_train = pd.read_csv('./bigData-main/titanic_y_train.csv', encoding='cp949')

print(X_train.head()) # NaN 있음
print(X_test.head())  # NaN 있음
print(y_train.head()) # PassengerId, Survived

   PassengerId  티켓등급                                               승객이름  \
0            1     3                            Braund, Mr. Owen Harris
1            2     1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3     3                             Heikkinen, Miss. Laina
3            4     1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5     3                           Allen, Mr. William Henry

       성별    나이  형제자매배우자수  부모자식수              티켓번호     운임요금  객실번호 선착장
0    male  22.0         1      0         A/5 21171   7.2500   NaN   S
1  female  38.0         1      0          PC 17599  71.2833   C85   C
2  female  26.0         0      0  STON/O2. 3101282   7.9250   NaN   S
3  female  35.0         1      0            113803  53.1000  C123   S
4    male  35.0         0      0            373450   8.0500   NaN   S
   PassengerId  티켓등급                                          승객이름      성별  \
0          892     3                              Kelly, Mr. James    male
1          893     3              Wilkes, Mrs. James (Ellen Needs)  female
2          894     2                     Myles, Mr. Thomas Francis    male
3          895     3                              Wirz, Mr. Albert    male
4          896     3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

     나이  형제자매배우자수  부모자식수     티켓번호     운임요금 객실번호 선착장
0  34.5         0      0   330911   7.8292  NaN   Q
1  47.0         1      0   363272   7.0000  NaN   S
2  62.0         0      0   240276   9.6875  NaN   Q
3  27.0         0      0   315154   8.6625  NaN   S
4  22.0         1      1  3101298  12.2875  NaN   S
   PassengerId  Survived
0            1         0
1            2         1
2            3         1
3            4         1
4            5         0

#### 행/열 확인하기

In [10]:
print(X_train.shape, X_test.shape, y_train.shape)

(891, 11) (418, 11) (891, 2)

#### 요약정보 확인하기

- 나이, 객실번호, 선착장 컬럼 결측치 확인

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

In [12]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   티켓등급         418 non-null    int64
 2   승객이름         418 non-null    object
 3   성별           418 non-null    object
 4   나이           332 non-null    float64
 5   형제자매배우자수     418 non-null    int64
 6   부모자식수        418 non-null    int64
 7   티켓번호         418 non-null    object
 8   운임요금         417 non-null    float64
 9   객실번호         91 non-null     object
 10  선착장          418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [13]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
dtypes: int64(2)
memory usage: 14.0 KB

In [18]:
print(X_train['성별'].unique().size)
print(X_train['성별'].unique())

print(X_train['선착장'].unique().size)
print(X_train['선착장'].unique())
print()

2
['male' 'female']
4
['S' 'C' 'Q' nan]