### 데이터 이해 : mtcars.csv
1. mpg : 연비 (Miles/gallon) >> target(종속변수)
2. Unnamed: 0 : 자동차 모델명
3. cyl : 엔진 기통수 (Number of cylinders)
4. disp : 배기량 (Displacement)
5. hp : 마력 (Gross horsepower)
6. drat : 뒤 차축비 (Rear axle ratio)
7. wt : 무게 (Weight)
8. qsec : 1/4 mile 도달 시간 (1/4 mile time)
9. vs : V형 엔진/직렬 엔진 (V engine/ Straight engine)
10. am : 변속기 (Transmission)
11. gear : 전진기어 개수 (Number of forward gears)
12. carb : 기화기 개수 (Number of carburetors)

## 데이터 분석 과정
1. 데이터 준비
2. 데이터 관찰 및 가공
3. 데이터 분리 (학습 데이터/ 테스트 데이터)
4. 학습 및 평가(검증)
5. 결과 출력 및 저장

## tips
- 실제 시험 환경 특성 상, 반드시 print() 함수 사용해야 함
- type(), head(), shape() 등의 결괏값 확인시 print() 사용 필수!

### 1. 데이터 준비하기: Data Load

In [2]:
import pandas as pd
data = pd.read_csv('bigData-main/mtcars.csv')

In [6]:
# data 변수 상위 5개 출력
display(data.head())

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6.0,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,21.0,6.0,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,22.8,4.0,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,21.4,6.0,258.0,110,3.08,3.215,0.10,1,auto,3,1
4,Hornet Sportabout,18.7,8.0,360.0,175,3.15,3.440,17.02,0,auto,3,2

### 데이터 둘러보기

In [19]:
# 데이터 모양 확인
print(data.shape)

(32, 12)

In [15]:
# 데이터 타입 확인
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [16]:
# 데이터 열 확인
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [17]:
# 기초통계랑 확인
print(data.describe())

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [18]:
# hp 수치형 변수의 기초통계량 확인
print(data['hp'].describe())

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [22]:
# 데이터 중복 제거 : unique
print('am   : ', data['am'].unique())
print('gear : ', data['gear'].unique())
print('vs   : ', data['vs'].unique())

am   :  ['manual' 'auto']
gear :  ['4' '3' '*3' '5' '*5']
vs   :  [0 1]

In [23]:
# 요약정보 확인
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [25]:
# 상관관계 구하기
display(data.corr())

,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb
mpg,1.000000,-0.460227,-0.847551,-0.776168,0.681172,-0.867659,0.013668,0.664039,-0.550925
cyl,-0.460227,1.000000,0.544876,0.323293,-0.372671,0.533690,-0.012755,-0.323960,0.239980
disp,-0.847551,0.544876,1.000000,0.790949,-0.710214,0.887980,0.181810,-0.710416,0.394977
hp,-0.776168,0.323293,0.790949,1.000000,-0.448759,0.658748,0.010807,-0.723097,0.749812
drat,0.681172,-0.372671,-0.710214,-0.448759,1.000000,-0.712441,-0.120283,0.440278,-0.090790
wt,-0.867659,0.533690,0.887980,0.658748,-0.712441,1.000000,0.093900,-0.554916,0.427606
qsec,0.013668,-0.012755,0.181810,0.010807,-0.120283,0.093900,1.000000,-0.112146,-0.120312
vs,0.664039,-0.323960,-0.710416,-0.723097,0.440278,-0.554916,-0.112146,1.000000,-0.569607
carb,-0.550925,0.239980,0.394977,0.749812,-0.090790,0.427606,-0.120312,-0.569607,1.000000

### 종속변수/ 독립변수 분리

In [26]:
X = data.drop(columns = 'mpg')
y = data['mpg']

In [27]:
# 독립변수 X 의 상위 5개 행을 확인
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [28]:
# 독립변수 X의 컬럼 이름 출력
print(X.columns)

Index(['Unnamed: 0', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [29]:
print(y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

### 2. 데이터 관찰 및 가공 : 전처리(preprocessing)
- 필요하지 않은 열 삭제
- 누락된 값들은 다른 값으로 바꾸거나 삭제
- 잘못된 값을 바르게 수정
- 일반적인 범위에서 벗어나는 이상값 조정
- 각 열들의 숫자 값을 동일한 범위의 숫자로 변경
- 의도한 데이터 타입이 아닌 경우, 적절한 데이터 타입으로 변경
- 문자로 구성된 범주형 데이터를 숫자형으로 변경
- 분석에 필요한 새로운 열 생성

실기 환경은 시각화가 불가능하므로 텍스트 기반의 전처리만 가능함 인지!

### 불필요한 열 삭제

In [30]:
# X 변수의 상위 5개 행 데이터 확인
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

Unnamed: 0 >> 모델명의 의미 가진 row 삭제

In [31]:
X = X.iloc[:, 1:]

In [32]:
print(X.head())

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

### 결측값 처리

- 결측치 삭제 비추천! 선택하지 말 것!!
- 다른 값으로 변환하는 방향으로 전처리를 수행
- 단, 문제에서 결측치 삭제하라고 명시하는 경우 문제의 요구대로 결측치 삭제해야 함

In [33]:
# X 변수의 결측치 여부에 대한 결과 상위 3개 행 확인
X.isnull().head(3)

     cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False

In [34]:
# True == 1 인 속성 이용, 결측치 개수 계산
print(X.isnull().sum())  # cyl, qsec 열에 결측치 존재 확인

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

### - 평균값으로 대치

In [35]:
# cyl 평균값을 X_cyl_mean 변수에 저장
X_cyl_mean = X['cyl'].mean()

# X_cyl_mean 변수 확인
print(X_cyl_mean)

7.6

In [37]:
X['cyl'] = X['cyl'].fillna(X_cyl_mean)

In [38]:
print(X.isnull().sum())  # cyl 결측치 처리 됨

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

### - 중위값 대체 : qsec

In [41]:
X_qsec_median = X['qsec'].median()

print(X_qsec_median)

17.6

In [42]:
# 중위값으로 NaN 대체
X['qsec'] = X['qsec'].fillna(X_qsec_median)

print(X['qsec'].isnull().sum())

0

### - 결측치 임의의 값으로 교체 or 삭제

#### 결측치 임의의 값으로 교체
- X['열이름'].fillna(n) : 결측치를 n으로 일괄 교체

#### 결측치 삭제
- X.dropna() : 결측치 있는 해당 행 데이터 일괄 삭제
- X.drop(columns = ['열이름']) : 해당 열 이름의 결측치 모두 삭제

### 잘못된 값 올바르게 바꾸기

In [43]:
# gear 열의 값 확인
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

기어 개수 의미하는 gear 열에 잘못된 값(*3, *5) 포함 >>>> *3, *5 에서 * 제외한 정상적인 값으로 수정 필요

In [44]:
print(X['gear'].replace('*3', '3').replace('*5', '5'))

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [45]:
X['gear'] = X['gear'].replace('*3', '3').replace('*5', '5')

In [46]:
# gear 열 값 재확인
X['gear'].unique()

array(['4', '3', '5'], dtype=object)

### 이상치(outlier) 처리
- 이상치(outlier) : 정상적인 데이터의 범위를 넘어서는 비정상적인 값
- 이상치 처리가 데이터 스케일링보다 선행되어야 함
- 이상치 처리 방식도 데이터 삭제가 아닌 다른 값으로 교체하는 것을 추천!

### - 사분범위(IQR) 활용
- IQR = Q3 - Q1
- Q1 - 1.5 * IQR 미만, Q3 + 1.5 * IQR 초과의 값 이상치로 판단

In [48]:
# X 변수의 기초통계랑 구한 후, X_describe  변수에 저장
X_describe = X.describe()
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

In [53]:
# X_describe 변수에서 75% 행, 25% 행 확인
print(X_describe.loc['75%'], '\n\n', X_describe.loc['25%'])

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64

 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [55]:
# IQR 계산 후 X_iqr 변수에 저장
X_iqr = X_describe.loc['75%'] - X_describe.loc['25%']

print(X_iqr)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

이상치 판단 위해 Q3 + 1.5 * IQR 계산

In [58]:
print(X_describe.loc['75%'] + (1.5 * X_iqr))

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

In [61]:
# X 변수 최대값 확인
X_describe.loc['max']

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

#### cyl, hp, wt, qsec, carb 이상치 존재 확인

- cyp, hp : 사분위수 활용하여 이상치 처리
- qsec, carb : 평균, 표준편차 사용한 이상값 처리

In [63]:
# cyl 열에서 최대경계값 14 초과하는 값 추출
print(X.loc[X['cyl'] > 14])

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [64]:
# X 변수에서 인덱스 14, 열 cyl 인 값 14 로 변경
X.loc[14, 'cyl'] = 14

# 해당 값 확인
print(X.loc[14, 'cyl'])

14.0

In [65]:
# hp 열 값이 305.25 초과하는 값 찾기
print(X.loc[X['hp'] > 305.25])

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [66]:
# X 변수에서 인덱스 30, 열 hp 인 값 305.25 로 변경
X.loc[30, 'hp'] = 305.25

# 값 확인
print(X.loc[30, 'hp'])

305.25

cyl, hp 열에 대해 최소 이상값 처리
- Q1 - 1.5 * IQR

In [67]:
# 각 열의 최소경계값 계산
print(X_describe.loc['25%'] - (X_iqr * 1.5))

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64