<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0%EB%AA%A8%EC%9D%98_2%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업 1유형

## ⚠️ Attention
데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)

데이터 설명 : 뇌졸증 발생여부 예측

dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke/train.csv

In [21]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

### 👽 Question 1
성별이 Male인 환자들의 age의 평균값은 ?

In [22]:
# df.age.value_counts() *들어있는 값이 있음 *82 없애기
df.age = df.age.str.replace('*', '').astype(int)
result = df[df.gender == 'Male']['age'].mean()
print(result)

44.68623481781376

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

### 👽 Question 2
bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [25]:
bmi_filled = df.bmi.fillna(df.bmi.median())
result = round(bmi_filled.mean(), 3)
print(result)

29.166

### 👽 Question 3
bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [40]:
bmi_ffill = df.bmi.fillna(method = 'ffill')
result = round(bmi_ffill.mean(), 3)
print(result)

29.188

### 👽 Question 4
bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [51]:
bmi_mean = df[df.bmi.notnull()].groupby(df.age//10 *10).bmi.mean()
mean_dic = {x:y for x, y in bmi_mean.items()}

idx = df.loc[df.bmi.isnull(), ['age', 'bmi']].index

# 결측치 mapping
df.loc[df.bmi.isnull(), 'bmi'] = (df[df.bmi.isnull()].age//10*10).map(lambda x:mean_dic[x])

print(df.bmi.mean())

29.2627029367386

### 👽 Question 5
avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [54]:
df.loc[df.avg_glucose_level >= 200, 'avg_glucose_level'] = 199
result = df.loc[df.stroke == 1, 'avg_glucose_level'].mean().round(3)
print(result)

125.188

# 작업 1유형 - 다른 데이터

## ⚠️ Attention
데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)

데이터 설명 : 포켓몬 정보

data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [55]:
import pandas as pd
df2 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 👽 Question 6
Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [63]:
df2_desc = df2.sort_values(by='Attack', ascending=False).reset_index(drop=True)
up = df2_desc[:400]
down = df2_desc[400:]

result = up.Legendary.sum() - down.Legendary.sum()
print(result)

57

### 👽 Question 7
Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [74]:
result = df2.groupby('Type 1').Total.mean().sort_values(ascending=False).index[2]
print(result)

Flying

### 👽 Question 8
결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [88]:
result = df2.dropna()[:int(len(df2.dropna()) *0.6)].Defense.quantile(.25)
print(result)

50.0

### 👽 Question 9
Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [92]:
fire_mean = df2.loc[df2['Type 1'] == 'Fire', 'Attack'].mean()
result = len(df2.loc[(df2['Type 1'] == 'Water') & (df2['Attack'] >= fire_mean)])
print(result)

37

### 👽 Question 10
각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [105]:
result = abs(df2.groupby('Generation')[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
print(result)

2

# 작업 2유형

## ⚠️ Attention
데이터 출처 : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (후처리 작업)

데이터 설명 : 뇌졸증 발생여부 예측

train : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv

test : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv

In [116]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [117]:
# bmi 결측치 확인, 범주형 있음(6개), age 범주형 > 이상치 확인(test에는 없음)
# 전처리
train['age'] = train['age'].str.replace('*', '', regex=True).astype(int)
train.bmi = train.bmi.fillna(train.bmi.mean())
test.bmi  = test.bmi.fillna(test.bmi.mean())

X = train.drop(columns = ['id', 'stroke'])
X_encoded = pd.get_dummies(X)
y = train.stroke

In [154]:
# modeling
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics  import roc_auc_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y,
                                                    stratify=y,
                                                    random_state=42)
rf = RandomForestClassifier(max_depth = 6, n_estimators = 200, random_state=10)
rf.fit(X_train, y_train)
prob = rf.predict_proba(X_test)
print('test roc score : ', roc_auc_score(y_test, prob[:,1]))

test_encoded = pd.get_dummies(test.drop(columns = 'id'))
test_encoded[list(set(X_train.columns) -set(test_encoded))] = 0
test_encoded = test_encoded[X_train.columns]
test_prob = rf.predict_proba(test_encoded)

pd.DataFrame({'id': test.id, 'stroke':test_prob[:,1]}).to_csv('004001561.csv', index=False)

test roc score :  0.857979845324584

In [155]:
y_prob = rf.predict_proba(X_encoded)
print('test roc score : ', roc_auc_score(y, y_prob[:,1]))

test roc score :  0.9317518248175183