<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0%EB%AA%A8%EC%9D%98_2%ED%9A%8C%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ÏûëÏóÖ 1Ïú†Ìòï

## ‚ö†Ô∏è Attention
Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (ÌõÑÏ≤òÎ¶¨ ÏûëÏóÖ)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : ÎáåÏ°∏Ï¶ù Î∞úÏÉùÏó¨Î∂Ä ÏòàÏ∏°

dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke/train.csv

In [21]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

### üëΩ Question 1
ÏÑ±Î≥ÑÏù¥ MaleÏù∏ ÌôòÏûêÎì§Ïùò ageÏùò ÌèâÍ∑†Í∞íÏùÄ ?

In [22]:
# df.age.value_counts() *Îì§Ïñ¥ÏûàÎäî Í∞íÏù¥ ÏûàÏùå *82 ÏóÜÏï†Í∏∞
df.age = df.age.str.replace('*', '').astype(int)
result = df[df.gender == 'Male']['age'].mean()
print(result)

44.68623481781376

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

### üëΩ Question 2
bmiÏª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º bmiÏª¨ÎüºÏùò Í≤∞Ï∏°ÏπòÎ•º Ï†úÏô∏Ìïú ÎÇòÎ®∏ÏßÄ Í∞íÎì§Ïùò Ï§ëÏïôÍ∞íÏúºÎ°ú Ï±ÑÏõ†ÏùÑ Í≤ΩÏö∞ bmi Ïª¨ÎüºÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏà´Ï†ê Ïù¥Ìïò 3ÏûêÎ¶¨ ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [25]:
bmi_filled = df.bmi.fillna(df.bmi.median())
result = round(bmi_filled.mean(), 3)
print(result)

29.166

### üëΩ Question 3
bmiÏª¨ÎüºÏùò Í∞Å Í≤∞Ï∏°ÏπòÎì§ÏùÑ ÏßÅÏ†ÑÏùò ÌñâÏùò bmiÍ∞íÏúºÎ°ú Ï±ÑÏõ†ÏùÑ Í≤ΩÏö∞ bmi Ïª¨ÎüºÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏà´Ï†ê Ïù¥Ìïò 3ÏûêÎ¶¨ ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [40]:
bmi_ffill = df.bmi.fillna(method = 'ffill')
result = round(bmi_ffill.mean(), 3)
print(result)

29.188

### üëΩ Question 4
bmiÏª¨ÎüºÏùò Í∞Å Í≤∞Ï∏°ÏπòÎì§ÏùÑ Í≤∞Ï∏°ÏπòÎ•º Í∞ÄÏßÑ ÌôòÏûê ÎÇòÏù¥ÎåÄ(10Îã®ÏúÑ)Ïùò ÌèâÍ∑† bmi Í∞íÏúºÎ°ú ÎåÄÏ≤¥Ìïú ÌõÑ ÎåÄÏ≤¥Îêú bmi Ïª¨ÎüºÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏà´Ï†ê Ïù¥Ìïò 3ÏûêÎ¶¨ ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [51]:
bmi_mean = df[df.bmi.notnull()].groupby(df.age//10 *10).bmi.mean()
mean_dic = {x:y for x, y in bmi_mean.items()}

idx = df.loc[df.bmi.isnull(), ['age', 'bmi']].index

# Í≤∞Ï∏°Ïπò mapping
df.loc[df.bmi.isnull(), 'bmi'] = (df[df.bmi.isnull()].age//10*10).map(lambda x:mean_dic[x])

print(df.bmi.mean())

29.2627029367386

### üëΩ Question 5
avg_glucose_level Ïª¨ÎüºÏùò Í∞íÏù¥ 200Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê 199Î°ú Î≥ÄÍ≤ΩÌïòÍ≥† strokeÍ∞íÏù¥ 1Ïù∏ Îç∞Ïù¥ÌÑ∞Ïùò avg_glucose_levelÍ∞íÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏàòÏ†êÏù¥Ìïò 3ÏûêÎ¶¨ ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [54]:
df.loc[df.avg_glucose_level >= 200, 'avg_glucose_level'] = 199
result = df.loc[df.stroke == 1, 'avg_glucose_level'].mean().round(3)
print(result)

125.188

# ÏûëÏóÖ 1Ïú†Ìòï - Îã§Î•∏ Îç∞Ïù¥ÌÑ∞

## ‚ö†Ô∏è Attention
Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò : https://www.kaggle.com/abcsds/pokemon (Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ìè¨ÏºìÎ™¨ Ï†ïÎ≥¥

data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [55]:
import pandas as pd
df2 = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### üëΩ Question 6
AttackÏª¨ÎüºÏùò Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®ÏàúÏ†ïÎ†¨ ÌñàÏùÑÎïå ÏÉÅÏúÑ 400ÏúÑÍπåÏßÄ Ìè¨ÏºìÎ™¨Îì§Í≥º 401~800ÏúÑÍπåÏßÄÏùò Ìè¨ÏºìÎ™¨Îì§ÏóêÏÑú Ï†ÑÏÑ§Ìè¨ÏºìÎ™¨(LegendaryÏª¨Îüº)Ïùò Ïà´Ïûê Ï∞®Ïù¥Îäî?

In [63]:
df2_desc = df2.sort_values(by='Attack', ascending=False).reset_index(drop=True)
up = df2_desc[:400]
down = df2_desc[400:]

result = up.Legendary.sum() - down.Legendary.sum()
print(result)

57

### üëΩ Question 7
Type 1 Ïª¨ÎüºÏùò Ï¢ÖÎ•òÏóê Îî∞Î•∏ Total Ïª¨ÎüºÏùò ÌèâÍ∑†Í∞íÏùÑ ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ÌñàÏùÑÎïå ÏÉÅÏúÑ 3Î≤àÏß∏ Type 1ÏùÄ Î¨¥ÏóáÏù∏Í∞Ä?

In [74]:
result = df2.groupby('Type 1').Total.mean().sort_values(ascending=False).index[2]
print(result)

Flying

### üëΩ Question 8
Í≤∞Ï∏°ÏπòÍ∞Ä Ï°¥Ïû¨ÌïòÎäî ÌñâÏùÑ Î™®Îëê ÏßÄÏö¥ ÌõÑ Ï≤òÏùåÎ∂ÄÌÑ∞ ÏàúÏÑúÎåÄÎ°ú 60% Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ DefenseÏª¨ÎüºÏùò 1Î∂ÑÏúÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [88]:
result = df2.dropna()[:int(len(df2.dropna()) *0.6)].Defense.quantile(.25)
print(result)

50.0

### üëΩ Question 9
Type 1 Ïª¨ÎüºÏùò ÏÜçÏÑ±Ïù¥ FireÏù∏ Ìè¨ÏºìÎ™¨Îì§Ïùò AttackÏùò ÌèâÍ∑†Ïù¥ÏÉÅÏù∏ WaterÏÜçÏÑ±Ïùò Ìè¨ÏºìÎ™¨ ÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [92]:
fire_mean = df2.loc[df2['Type 1'] == 'Fire', 'Attack'].mean()
result = len(df2.loc[(df2['Type 1'] == 'Water') & (df2['Attack'] >= fire_mean)])
print(result)

37

### üëΩ Question 10
Í∞Å ÏÑ∏ÎåÄ Ï§ë(Generation Ïª¨Îüº)Ïùò SpeedÏôÄ Defense Ïª¨ÎüºÏùò Ï∞®Ïù¥(Ï†àÎåìÍ∞í)Ïù¥ Í∞ÄÏû• ÌÅ∞ ÏÑ∏ÎåÄÎäî?

In [105]:
result = abs(df2.groupby('Generation')[['Speed','Defense']].mean().T.diff().T).sort_values('Defense').index[-1]
print(result)

2

# ÏûëÏóÖ 2Ïú†Ìòï

## ‚ö†Ô∏è Attention
Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset (ÌõÑÏ≤òÎ¶¨ ÏûëÏóÖ)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : ÎáåÏ°∏Ï¶ù Î∞úÏÉùÏó¨Î∂Ä ÏòàÏ∏°

train : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv

test : https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv

In [116]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

display(train.head())
display(test.head())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked
1,36841,Male,78,1,0,Yes,Self-employed,Rural,56.11,25.5,formerly smoked
2,3135,Female,73,0,0,No,Self-employed,Rural,69.35,NaN,never smoked
3,65218,Male,2,0,0,No,children,Rural,109.10,20.0,Unknown
4,1847,Female,20,0,0,No,Govt_job,Rural,79.53,NaN,never smoked

In [117]:
# bmi Í≤∞Ï∏°Ïπò ÌôïÏù∏, Î≤îÏ£ºÌòï ÏûàÏùå(6Í∞ú), age Î≤îÏ£ºÌòï > Ïù¥ÏÉÅÏπò ÌôïÏù∏(testÏóêÎäî ÏóÜÏùå)
# Ï†ÑÏ≤òÎ¶¨
train['age'] = train['age'].str.replace('*', '', regex=True).astype(int)
train.bmi = train.bmi.fillna(train.bmi.mean())
test.bmi  = test.bmi.fillna(test.bmi.mean())

X = train.drop(columns = ['id', 'stroke'])
X_encoded = pd.get_dummies(X)
y = train.stroke

In [154]:
# modeling
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics  import roc_auc_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y,
                                                    stratify=y,
                                                    random_state=42)
rf = RandomForestClassifier(max_depth = 6, n_estimators = 200, random_state=10)
rf.fit(X_train, y_train)
prob = rf.predict_proba(X_test)
print('test roc score : ', roc_auc_score(y_test, prob[:,1]))

test_encoded = pd.get_dummies(test.drop(columns = 'id'))
test_encoded[list(set(X_train.columns) -set(test_encoded))] = 0
test_encoded = test_encoded[X_train.columns]
test_prob = rf.predict_proba(test_encoded)

pd.DataFrame({'id': test.id, 'stroke':test_prob[:,1]}).to_csv('004001561.csv', index=False)

test roc score :  0.857979845324584

In [155]:
y_prob = rf.predict_proba(X_encoded)
print('test roc score : ', roc_auc_score(y, y_prob[:,1]))

test roc score :  0.9317518248175183