<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/%EC%9E%91%EC%97%851%EC%9C%A0%ED%98%95_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_by_datamanim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ïú†ÌäúÎ∏å Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞
### ‚ÄªAttention

Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ïú†ÌäúÎ∏å Îç∞ÏùºÎ¶¨ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ (ÌïúÍµ≠)
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

### ‚Äª Question 01
Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [ ]:
answer = list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer)

['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê', 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV']

### ‚Äª Question 02 ‚úÖ
ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [ ]:
answer = list(df.loc[df.dislikes > df.likes, 'channelTitle'].unique())
print(answer)

['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang', 'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà', 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports']

### ‚Äª Question 03
Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [ ]:
change = df[['channelId', 'channelTitle']].drop_duplicates().channelId.value_counts()
target = change[change > 1]
print(len(target))

71

### ‚Äª Question 04
ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§ Ï§ë Í∞ÄÏû• ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?

In [ ]:
df.trending_date2 = pd.to_datetime(df.trending_date2)
answer = df.loc[df.trending_date2.dt.day_name() == 'Sunday', 'categoryId'].value_counts().index[0]
print(answer)

24

### ‚Äª Question 05
Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº.

In [ ]:
group = df.groupby([df.trending_date2.dt.day_name(), 'categoryId'], as_index=False).size()
answer = group.pivot(index = 'categoryId', columns = 'trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

### ‚Äª Question 06 ‚úÖ
ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. view_countÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº. (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [ ]:
vc_over0 = df.loc[df.view_count > 0]
idx = (vc_over0.comment_count / vc_over0.view_count).dropna().sort_values(ascending=False).index[0]
answer = df.loc[idx, 'title']
print(answer)

60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)

In [ ]:
target2= df.loc[df.view_count!=0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count']).dropna()
result = t.sort_values(by='ratio', ascending=False).iloc[0].title
print(result)

60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)

### ‚Äª Question 07
ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.view_countÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

In [ ]:
ratio = (df['comment_count']/df['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]

result = df.iloc[ratio[ratio!=0].index[0]].title
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

### ‚Äª Question 08
like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [ ]:
target3 = df.loc[(df.likes != 0) & (df.dislikes != 0)]
t3 = target3.copy()
t3['ratio'] = target3.dislikes / target3.likes
t3.sort_values(by='ratio').title.iloc[0]

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [ ]:
target = df.loc[(df.likes !=0) & (df.dislikes !=0)]
num = (target['dislikes']/target['likes']).sort_values().index[0]
answer = df.iloc[num].title
print(answer)

[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞

### ‚Äª Question 09 ‚úÖ

Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [ ]:
answer = df.loc[df.channelId == df.channelId.value_counts().index[0]].channelTitle.unique()[0]
print(answer)

Ïß§Ìà∞

### ‚Äª Question 10
20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?

In [ ]:
answer = (df[['title','channelId']].value_counts() >= 20).sum()
print(answer)

40

## Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

### ‚ö†Ô∏è Attention

Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ïú†ÌäúÎ∏å ‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Ï†ïÎ≥¥ ( 10Î∂Ñ Í∞ÑÍ≤© ÏàòÏßë)

dataurl1 (ÎπÑÎîîÏò§ Ï†ïÎ≥¥) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv

dataurl2 (Ï∞∏Í∞ÄÏûê Ï±ÑÎÑê Ï†ïÎ≥¥)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [1]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

### ‚Äª Question 11 ‚úÖ
Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ‚Äòct‚ÄôÏª¨ÎüºÏùÑ ÏãúÍ∞ÑÏúºÎ°ú Ïù∏ÏãùÌï†Ïàò ÏûàÍ≤å datatypeÏùÑ Î≥ÄÍ≤ΩÌïòÍ≥† video Îç∞Ïù¥ÌÑ∞Ïùò videonameÏùò Í∞Å value ÎßàÎã§ Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Ïî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÎùº.

In [6]:
video.ct = pd.to_datetime(video.ct)
channel.ct = pd.to_datetime(channel.ct)

result = video.videoname.value_counts()
print(result)

 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: videoname, dtype: int64

### ‚Äª Question 12
ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcountÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº.

#### Ï§ëÎ≥µÌñâ Ï†úÍ±∞ Ìï®Ïàò
DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

- subset : Ï§ëÎ≥µÍ∞íÏùÑ Í≤ÄÏÇ¨Ìï† Ïó¥. Í∏∞Î≥∏Ï†ÅÏúºÎ°ú Î™®Îì† Ïó¥ÏùÑ Í≤ÄÏÇ¨Ìï®
- keep : {first / last} Ï§ëÎ≥µÏ†úÍ±∞Î•ºÌï†Îïå ÎÇ®Í∏∏ Ìñâ. firstÎ©¥ Ï≤´Í∞íÏùÑ ÎÇ®Í∏∞Í≥† lastÎ©¥ ÎßàÏßÄÎßâ Í∞íÏùÑ ÎÇ®ÍπÄ
- inplace : ÏõêÎ≥∏ÏùÑ Î≥ÄÍ≤ΩÌï†ÏßÄ Ïó¨Î∂Ä
- ignore_index : ÏõêÎûò indexÎ•º Î¨¥ÏãúÌï†ÏßÄ Ïó¨Î∂Ä. TrueÏùº Í≤ΩÏö∞ 0,1,2, ... , nÏúºÎ°ú Î∂ÄÏó¨Îê®

In [16]:
answer = video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep='last', ignore_index=True)[['videoname', 'ct', 'viewcnt']]
display(answer)

  videoname                  ct  viewcnt
0    Í≥µÎ≤î EP1 2021-11-01 15:30:03  3180532
1    Í≥µÎ≤î EP2 2021-11-01 15:30:03  2199328
2    Í≥µÎ≤î EP3 2021-11-01 15:30:03  1671294
3    Í≥µÎ≤î EP4 2021-11-01 15:30:03  1818493
4    Í≥µÎ≤î EP5 2021-11-01 15:30:04  1503435
5    Í≥µÎ≤î EP6 2021-11-01 15:30:04  1750222
6    Í≥µÎ≤î EP7 2021-11-01 15:30:05  1630200
7    Í≥µÎ≤î EP8 2021-11-01 15:30:05  1289088

### ‚Äª Question 13
Channel Îç∞Ïù¥ÌÑ∞Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù ÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº.

In [28]:
channel.ct = pd.to_datetime(channel.ct)
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct', 'channelname']).drop_duplicates('channelname')
answer = target[['channelname', 'subcnt']].reset_index(drop=True)
display(answer)

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
2        Ï∏ÑÏ†ïChuJeong   322000
3        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
4       Î¶¥ÌéÑ Lilpearl    10100
5   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
6               Ï°∞ÎÇòÎã®   215000
7           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
8     Balming Tiger    54300
9     Í≥ΩÌÜ†Î¶¨ kwak tori   471000
10              ÍΩàÎöúÎ£π  1330000

### ‚Äª Question 14
Í∞ÅÏ±ÑÎÑêÏùò 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ÍπåÏßÄ Íµ¨ÎèÖÏûêÏàò (subcnt) Ïùò Ï¶ùÍ∞ÄÎüâÏùÑ Íµ¨ÌïòÏó¨Îùº

In [36]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

end_df.columns = ['channelname', 'end_sub']
start_df.columns = ['channelname', 'start_sub']

tt = pd.merge(start_df, end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname', 'del']]
display(result)

        channelname    del
0               ÍΩàÎöúÎ£π  70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
2        Ï∏ÑÏ†ïChuJeong   1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
5               Ï°∞ÎÇòÎã®  12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
8       Î¶¥ÌéÑ Lilpearl  11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
10    Balming Tiger   2500

### ‚Äª Question 15
Í∞Å ÎπÑÎîîÏò§Îäî 10Î∂Ñ Í∞ÑÍ≤©ÏúºÎ°ú Íµ¨ÎèÖÏûêÏàò, Ï¢ãÏïÑÏöî, Ïã´Ïñ¥ÏöîÏàò, ÎåìÍ∏ÄÏàòÍ∞Ä ÏàòÏßëÎêúÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï°åÎã§. Í≥µÎ≤î EP1Ïùò ÎπÑÎîîÏò§Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞Ï§ë ÏàòÏßëÍ∞ÑÍ≤©Ïù¥ 5Î∂Ñ Ïù¥Ìïò, 20Î∂ÑÏù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Íµ¨Í∞Ñ( Ìï¥Îãπ ÏãúÏ†ê Ï†Ñ,ÌõÑ) Ïùò ÏãúÍ∞ÅÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [42]:
import datetime
ep_one = video[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)
ep_one[(ep_one.ct.diff(1) >= datetime.timedelta(minutes = 20)) | \
        (ep_one.ct.diff(1) <= datetime.timedelta(minutes= 5))]
answer = ep_one[ep_one.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,Í≥µÎ≤î EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,Í≥µÎ≤î EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,Í≥µÎ≤î EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,Í≥µÎ≤î EP1

### ‚Äª Question 16
Í∞Å ÏóêÌîºÏÜåÎìúÏùò ÏãúÏûëÎÇ†Ïßú(ÎÖÑ-Ïõî-Ïùº)Î•º ÏóêÌîºÏÜåÎìú Ïù¥Î¶ÑÍ≥º Î¨∂Ïñ¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í≥† Ï∂úÎ†•ÌïòÎùº

In [48]:
target = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname', keep='first')[['ct', 'videoname']]
target['date'] = target.ct.dt.date
answer = target[['date', 'videoname']]
display(answer)

             date videoname
10     2021-10-07    Í≥µÎ≤î EP1
3496   2021-10-09    Í≥µÎ≤î EP2
6696   2021-10-14    Í≥µÎ≤î EP3
9264   2021-10-16    Í≥µÎ≤î EP4
11544  2021-10-21    Í≥µÎ≤î EP5
13661  2021-10-23    Í≥µÎ≤î EP6
13106  2021-10-28    Í≥µÎ≤î EP7
14935  2021-10-30    Í≥µÎ≤î EP8

### ‚Äª Question 17
‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏†Ïùò Í≤ΩÏö∞ 19:00ÏãúÏóê Í≥µÍ∞ú ÎêòÎäîÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï†∏ÏûàÎã§. Í≥µÍ∞úÎêú ÎÇ†Ïùò 21ÏãúÏùò viewcnt, ct, videoname ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•ÌïòÎùº

In [8]:
video['time'] = video.ct.dt.hour

answer = video[video.time == 21].sort_values(['videoname','ct']).drop_duplicates('videoname')\
.sort_values('viewcnt', ascending=False)[['videoname', 'viewcnt', 'ct']].reset_index(drop=True)

display(answer)

  videoname  viewcnt                  ct
0    Í≥µÎ≤î EP8   264029 2021-10-30 21:00:08
1    Í≥µÎ≤î EP7   252032 2021-10-28 21:00:04
2    Í≥µÎ≤î EP4   217674 2021-10-16 21:00:04
3    Í≥µÎ≤î EP6   213899 2021-10-23 21:00:06
4    Í≥µÎ≤î EP5   201179 2021-10-21 21:00:04
5    Í≥µÎ≤î EP2   148144 2021-10-09 21:00:03
6    Í≥µÎ≤î EP3   147183 2021-10-14 21:00:04
7    Í≥µÎ≤î EP1   117340 2021-10-07 21:00:03

### ‚Äª Question 18
video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratio Ïª¨ÎüºÏúºÎ°ú ÎßåÎì§Í≥† videoname, ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎùº

In [10]:
target = video.sort_values('ct').drop_duplicates('videoname', keep='last')
target['ratio'] = target['dislikecnt'] / target['likecnt']

answer = target.sort_values('ratio')[['videoname', 'ratio']].reset_index(drop=True)
display(answer)

  videoname     ratio
0    Í≥µÎ≤î EP7  0.013636
1    Í≥µÎ≤î EP6  0.015881
2    Í≥µÎ≤î EP4  0.017971
3    Í≥µÎ≤î EP5  0.021128
4    Í≥µÎ≤î EP3  0.022360
5    Í≥µÎ≤î EP1  0.027118
6    Í≥µÎ≤î EP2  0.029844
7    Í≥µÎ≤î EP8  0.141357

### ‚Äª Question 19
2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ Í∞Å ÏóêÌîºÏÜåÎìúÎ≥Ñ viewcntÏùò Ï¶ùÍ∞ÄÎüâÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎìúÏãúÏò§

In [13]:
import datetime
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

target = video[(video.ct >= start) & (video.ct <= end)].reset_index(drop=True)

def check(x) :
    result = max(x) - min(x)
    return result

answer = target[['videoname', 'viewcnt']].groupby('videoname').agg(check)
answer

           viewcnt
videoname
 Í≥µÎ≤î EP1      13298
 Í≥µÎ≤î EP2      10300
 Í≥µÎ≤î EP3       9927
 Í≥µÎ≤î EP4       9824
 Í≥µÎ≤î EP5      10824
 Í≥µÎ≤î EP6      14141
 Í≥µÎ≤î EP7      26949
 Í≥µÎ≤î EP8      89147

### ‚Äª Question 20
video Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ï§ëÎ≥µÎêòÎäî Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ÏãúÍ∞ÑÎåÄÏôÄ videoname ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [18]:
answer = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]
result = answer[['videoname', 'ct']]
display(result)

     videoname                  ct
722     Í≥µÎ≤î EP1 2021-10-13 09:41:37
3927    Í≥µÎ≤î EP2 2021-10-13 09:41:37

## ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù Îç∞Ïù¥ÌÑ∞

‚ö†Ô∏è Attention

Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò : https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : 1930 ~2018ÎÖÑÎèÑ ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù

data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

### ‚Äª Question 21
Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥ Í∏∞Í∞ÑÏùò Í∞Å ÎÇòÎùºÎ≥Ñ Í≥®ÎìùÏ†êÏàò ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÎìùÏ†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÌòïÌÉúÎ°ú Ï∂úÎ†•ÌïòÎùº

In [12]:
answer = df.groupby('Country', as_index=False).Goals.sum().sort_values(by='Goals', ascending=False).reset_index(drop=True).loc[:4,:]
display(answer)

     Country  Goals
0     Brazil    228
1    Germany    226
2  Argentina    135
3      Italy    123
4     France    115

In [17]:
result = df.groupby('Country').sum().sort_values('Goals',ascending=False).head(5)
display(result)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

### ‚Äª Question 22
Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥Í∏∞Í∞ÑÎèôÏïà Í≥®ÎìùÏ†êÏùÑ Ìïú ÏÑ†ÏàòÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎÇòÎùº ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÏÑ†Ïàò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

In [21]:
df.groupby('Country')['Player'].count().sort_values(ascending=False).head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

In [25]:
result = df.groupby('Country').size().sort_values(ascending=False).head(5)
display(result)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

### ‚Äª Question 23
Years Ïª¨ÎüºÏùÄ ÎÖÑÎèÑ -ÎÖÑÎèÑ ÌòïÏãùÏúºÎ°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÍ≥†, Í∞Å ÎÖÑÎèÑÎäî 4ÏûêÎ¶¨ Ïà´ÏûêÏù¥Îã§. ÎÖÑÎèÑ ÌëúÍ∏∞Í∞Ä 4ÏûêÎ¶¨ Ïà´ÏûêÎ°ú ÏïàÎêú ÏºÄÏù¥Ïä§Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ìï¥Îãπ Í±¥ÏùÄ Î™áÍ±¥Ïù∏ÏßÄ Ï∂úÎ†•ÌïòÎùº

In [28]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x) :
    for value in x :
        if len(str(value)) != 4 :
            return False
    return True

df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check == False])
print(result)

45