<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/2023_%ED%98%BC%EA%B3%B5%ED%8C%8C(python)_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 날짜/시간 활용

In [6]:
import datetime as dt

now = dt.datetime.now()

In [7]:
print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")

2023 년
9 월
18 일
11 시
34 분
38 초

In [4]:
print("{}년 {}월 {}일 {}시 {}분 {}초".format(
    now.year,
    now.month,
    now.day,
    now.hour,
    now.minute,
    now.second
))

2023년 9월 18일 11시 30분 9초

### 오전/오후 구분하는 프로그램

In [5]:
now = dt.datetime.now()

if now.hour < 12:
    print("현재 시간은 {}시로 오전입니다.".format(now.hour))
elif now.hour >= 12:
    print("현재 시간은 {}시로 오후입니다.".format(now.hour))

현재 시간은 11시로 오전입니다.

### 계절 구분하는 프로그램

In [8]:
if 3 <= now.month <= 5:
    print("이번 달은 {}월로 봄입니다.".format(now.month))
elif 6 <= now.month <= 8:
    print("이번 달은 {}월로 여름입니다.".format(now.month))
elif 9 <= now.month <= 11:
    print("이번 달은 {}월로 가을입니다.".format(now.month))
elif (now.month == 12) or (1 <= now.month <= 2):
    print("이번 달은 {}월로 겨울입니다.".format(now.month))
else:
    print("1~12월 중에서만 입력 가능합니다.")

이번 달은 9월로 가을입니다.

### 끝자리로 짝수/홀수 구분하기

In [9]:
num = input("정수 입력 > ")

# 마지막 자리 추출
last_char = num[-1]

# 숫자로 변환
last_num = int(last_char)

# 짝수 확인
if last_num == 0 \
    or last_num == 2 \
    or last_num == 4 \
    or last_num == 6 \
    or last_num == 8:
    print("짝수입니다.")

# 홀수 확인
if last_num == 1 \
    or last_num == 3 \
    or last_num == 5 \
    or last_num == 7 \
    or last_num == 9:
    print("홀수입니다.")

정수 입력 > 13541123
홀수입니다.

### in 연산자 활용한 짝수/홀수 구분

In [10]:
num = input("정수 입력 > ")
last_char = num[-1]

if last_char in "02468" :
    print("짝수입니다.")

if last_char in "13579" :
    print("홀수입니다.")

정수 입력 > 668435132
짝수입니다.

컴퓨터는 모든 것을 숫자로 계산하기 때문에 문자열 연산보다 숫자 연산이 조금 더 빠름

### 나머지 연산자 활용한 짝수/홀수 구분

In [11]:
num = int(input("정수 입력 > "))

if num % 2 == 0 :
    print("짝수입니다.")

elif num % 2 == 1 :
    print("홀수입니다.")

정수 입력 > 8765413213
홀수입니다.

## 03-2. if~else와 elif 구문

### False로 변환되는 값
- None
- 숫자 0, 0.0
- 빈 컨테이너(빈 문자열, 빈 바이트열, 빈 리스트, 빈 튜플, 빈 딕셔너리 등)

### pass 키워드
- 일단 프로그래밍의 전체 골격을 잡아 놓고 내부에서 처리할 내요은 추후 만들겠다는 의도
- 이때의 골격은 일반적으로 조건문, 반복문, 함수, 클래스 등의 기본 구문 의미

In [12]:
num = int(input("정수 입력 > "))

if num > 0 :
    pass
else:
    pass

정수 입력 > 123

### raise NotImplementedError

- 아직 구현하지 않은 부분에 대해 오류 강제 발생

In [13]:
num = int(input("정수 입력 > "))

if num > 0 :
    # 아직 미구현상태 입니다.
    raise NotImplementedError
else:
    # 아직 미구현상태 입니다.
    raise NotImplementedError

정수 입력 > 1513

NotImplementedError: ignored

### 도전문제

#### 1. 간단한 대화 프로그램

In [17]:
word = input("입력: ")

if word in ("안녕", "안녕하세요."):
    print("안녕하세요.")
elif "지금 몇 시" in word :
    print("지금은 {}시입니다.".format(now.hour))
else:
    print(word)

입력: 메롱
메롱

#### 2. 나누어 떨어지는 숫자

In [19]:
num = int(input("정수를 입력해주세요: "))

for i in range(2, 6):
    if num % i == 0:
        print("{}은 {}(으)로 나누어 떨어지는 숫자입니다.".format(num, i))
    else:
        print("{}은 {}(으)로 나누어 떨어지는 숫자가 아닙니다.".format(num, i))

정수를 입력해주세요: 68543213
68543213은 2(으)로 나누어 떨어지는 숫자가 아닙니다.
68543213은 3(으)로 나누어 떨어지는 숫자가 아닙니다.
68543213은 4(으)로 나누어 떨어지는 숫자가 아닙니다.
68543213은 5(으)로 나누어 떨어지는 숫자가 아닙니다.