## 데이터 타입 및 변수

### tuple
1. 소괄호() 사용
2. 데이터 수정, 추가 삭제 불가
3. indexing O

In [1]:
A_tup = ('aa', 'bb', 'cc', 'dd')
print(A_tup)
print(type(A_tup))
print('indexing - ', A_tup[1], A_tup[-3])

('aa', 'bb', 'cc', 'dd')
<class 'tuple'>
indexing -  bb bb

### list
1. 대괄호[] 사용
2. 데이터 수정, 추가 삭제 가능
3. indexing & slicing O
4. +,* 가능(리스트 자체로 연산) /,- 연산 X

In [2]:
A_lst = ['aa', 'dd', 'cc', 'bb']
print(A_lst)
print(type(A_lst))
print('indexing - ', A_lst[2], A_lst[-4])
print('slicing  - ', A_lst[1:3])

['aa', 'dd', 'cc', 'bb']
<class 'list'>
indexing -  cc aa
slicing  -  ['dd', 'cc']

In [3]:
# list 사칙연산
print(A_lst + A_lst) # list 뒤에 이어 붙음
print(A_lst * 3) # list 3번 반복
# print(A_lst - A_lst) -- error

['aa', 'dd', 'cc', 'bb', 'aa', 'dd', 'cc', 'bb']
['aa', 'dd', 'cc', 'bb', 'aa', 'dd', 'cc', 'bb', 'aa', 'dd', 'cc', 'bb']

In [4]:
# 데이터 수정
A_lst[2] = 'hello'
print(A_lst)

['aa', 'dd', 'hello', 'bb']

In [6]:
# 데이터 삭제
del A_lst[2]
print(A_lst)

['aa', 'bb', 'dd', 'hello']

In [7]:
# 데이터 추가
A_lst.append('ee')
print(A_lst)

['aa', 'bb', 'dd', 'hello', 'ee']

In [8]:
# 내가 원하는 위치에 데이터 추가
A_lst.insert(2, 'cc')
print(A_lst)
A_lst.insert(0, 'ee')
print(A_lst)

['aa', 'bb', 'cc', 'dd', 'hello', 'ee']
['ee', 'aa', 'bb', 'cc', 'dd', 'hello', 'ee']

In [9]:
# 데이터 개수 세기
print(A_lst.count('ee'))

2

In [10]:
# 데이터 지정해서 삭제
A_lst.remove('ee')
print(A_lst)  # remove : 가장 앞에 위치한 해당 데이터 삭제됨

['aa', 'bb', 'cc', 'dd', 'hello', 'ee']

In [11]:
# 가장 마지막에 있는 값 삭제
A_lst.pop()
print(A_lst)

['aa', 'bb', 'cc', 'dd', 'hello']

In [12]:
# 데이터 정렬 ( sort 사용시 변수값에 즉시 반영되므로 주의 )
A_lst.sort()
print(A_lst)

['aa', 'bb', 'cc', 'dd', 'hello']

### dictionary
1. key, value 쌍으로 이루어져 있음
2. 중괄호 {} 사용, key:value 쌍 구분 기호는 세미콜론(,)
3. 데이터 수정, 추가 삭제 가능
4. 순서 존재 X , key 값으로 접근

In [13]:
A_dict = {'first'  : 'aa',
          'second' : 'dd',
          'third'  : 'cc',
          'forth'  : 'bb'}
print(A_dict)
print(type(A_dict))

{'first': 'aa', 'second': 'dd', 'third': 'cc', 'forth': 'bb'}
<class 'dict'>

In [14]:
# key 로 value 가져오기
print(A_dict['second'])

dd

In [15]:
# 데이터 추가
A_dict['fifth'] =  'ff'
print(A_dict)

{'first': 'aa', 'second': 'dd', 'third': 'cc', 'forth': 'bb', 'fifth': 'ff'}

In [16]:
# 데이터 수정 : 동일 키 존재하는 경우 마지막 추가된 키:값만 살아남아 결론적으로 데이터 수정 발생
A_dict['fifth'] = 'ee'
print(A_dict)

{'first': 'aa', 'second': 'dd', 'third': 'cc', 'forth': 'bb', 'fifth': 'ee'}

In [17]:
# 데이터 삭제
del A_dict['second']
del A_dict['forth']
del A_dict['fifth']
print(A_dict)

A_dict['second'] = 'hello'
print(A_dict)

{'first': 'aa', 'third': 'cc'}
{'first': 'aa', 'third': 'cc', 'second': 'hello'}

### set
1. 중복된 데이터 없음
2. 데이터 간 순서 없음
3. set(), 중괄호{} 사용

In [18]:
hello = set("hello")
hi = set(['h','i'])
print(hello, hi) # hello 의 경우, l 이 중복되므로 한개 삭제됨

{'l', 'o', 'h', 'e'} {'h', 'i'}

In [20]:
# 교집합 연산
intersection01 = hello.intersection(hi)
print(intersection01)
intersection02 = hello & hi
print(intersection02)

{'h'}
{'h'}

In [21]:
# 합집합 연산
union01 = hello.union(hi)
print(union01)
union02 = hello | hi
print(union02)

{'l', 'e', '!', 'i', 'o', 'h'}
{'l', 'e', '!', 'i', 'o', 'h'}

In [22]:
# 차집합 연산 : 순서에 유의
diff01 = hello.difference(hi)
print(diff01)
diff02 = hello - hi
print(diff02)
diff03 = hi.difference(hello)
print(diff03)
diff04 = hi - hello
print(diff04)

{'l', 'o', 'e', '!'}
{'l', 'o', 'e', '!'}
{'i'}
{'i'}

In [23]:
# 원소 추가 > 순서 없으므로 임의의 위치에 들어가게 된다!
hello.add('!')    # 하나의 원소 추가
print(hello)

{'e', '!', 'o', 'l', 'h'}

In [24]:
hello.update(['w','o','w'])  # 여러 개의 원소 한꺼번에 추가
print(hello)      # w 두개여서 하나만 들어가게 됨

{'e', '!', 'o', 'w', 'l', 'h'}

In [25]:
hello.remove('w')  # 원소 삭제
print(hello)

{'e', '!', 'o', 'l', 'h'}

## 산술 연산자

In [26]:
print('몫 구하기(//)    -', 2 // 5)
print('나머지 구하기(%) -', 2 %  5)

몫 구하기(//)    - 0
나머지 구하기(%) - 2

In [28]:
print('지수 승(2^5) - ', 2 ** 5)

지수 승(2^5) -  32

## 비교 연산자
< , <= , > , >= , ==, !=

## 논리 연산자

In [29]:
A = 90
B = 70

In [31]:
# AND 연산자
print((A > 80) and (B > 80))
print((A > 70) and (B > 70))
print((A > 60) and (B > 60))  # 둘다 True 여야 True

False
False
True

In [32]:
# OR 연산자
print((A > 80) or (B > 80))   # 둘 중 하나라도 True 이면 True
print((A > 90) or (B > 90))

True
False

In [34]:
# NOT 연산자
print(not (A > 90))    # True  이면 False
print(not (A > 80))    # False 이면 True

True
False

## 문자열 가공

### 01. 문자열 합체 : +

In [38]:
'I ' + 'AM ' + 'SUPERMAN!'  # 결합했을 때의 가독성을 위해 문자열 내에 공백 추가

'I AM SUPERMAN!'

In [39]:
# 문자열을 변수에 담아 변수로 문자열 결합
나 = 'I '
는 = 'AM '
슈퍼맨 = 'SUPERMAN!'
나+는+슈퍼맨

'I AM SUPERMAN!'

### 02. 사이사이 끼어들기 : join
'끼어들 변수'.join(끼어들 대상)

In [40]:
'-'.join('SUPERMAN!')

'S-U-P-E-R-M-A-N-!'

In [41]:
# 변수로 정의 후 JOIN 사용
X = '*'
Y = 'ABC'
X.join(Y)

'A*B*C'

### 03. 문자열 복제하기 : *
- 문자열에서의 곱셈(*)연산자는 문자열을 곱하는 수만큼 반복해서 나열

In [42]:
'A' * 5

'AAAAA'

### 04. 문자 추출하기 : [ ]

In [45]:
string = 'ABCDEFG'

print(string[0])
print(string[6])
# print(string[7]) -- error : string index out of range

A
G

In [47]:
# 역방향 인덱스 사용 : 역방향은 -1부터 시작 (정방향은 0부터 시작)
print(string[-1])
print(string[-7])
# print(string[-8]) -- error : string index out of range

G
A

### 05. 문자열 추출하기 : [ : : ]

str [ start_num : end_num : step ]
- 끝 위치 이전까지 데이터 추출 주의

In [48]:
string[2:5] # 2,3,4 출력 (5 제외)

'CDE'

In [49]:
string[::3] # 처음부터 끝까지 3칸씩 건너서 추출

'ADG'

In [50]:
string[4::-2]  # 4번째부터 끝까지 역방향으로 2칸씩 이동하면서 추출 ABCD"E"FG

'ECA'

In [51]:
string[6:2:-3] # 6번째부터 3번째까지 -3칸씩 이동하면서 추출

'GD'

### 06. 문자열 길이재기 : len

In [52]:
len(string)

7

### 07. 문자열 분리하기 : split
문자열/변수.split('분리할 구분자')

In [53]:
sm = 'I AM SUPERMAN!'
sm.split(' ')

['I', 'AM', 'SUPERMAN!']

In [54]:
phone_num = '010-1234-5678'
phone_num.split('-')

['010', '1234', '5678']

### 08. 문자열 교체하기 : replace
문자열/변수.replace('변경 전 단어', '변경 후 단어')

In [55]:
sm.replace('SUPERMAN', 'BATMAN')

'I AM BATMAN!'

### 09. 문자열 위치 찾기 : find, index
- find() : 찾을 문자열 없는 경우 -1 리턴
- index() : 찾을 문자열 없는 경우 오류 발생

In [59]:
애국가 = '''동해물과 백두산이 마르고 닳도록 
하나님이 보우하사 우리나라 만세 
무궁화 삼천리 화려 강산 
대한 사람 대한으로 길이 보전하세'''

애국가

'동해물과 백두산이 마르고 닳도록 \n하나님이 보우하사 우리나라 만세 \n무궁화 삼천리 화려 강산 \n대한 사람 대한으로 길이 보전하세'

In [64]:
print(애국가.find('우리나라'))
print(애국가.index('하나님'))
print(애국가.find('한라산'))   # 존재하지 않는다는 의미로 -1 리턴
# print(애국가.index('한라산')) -- error : substring not found

29
19
-1

### 10. 문자열 개수 세기 : count
문자열/변수.count('카운트할 단어')

In [65]:
애국가.count('대한')

2

### 11. 첫 문자를 대문자로! : capitalize, title

In [67]:
superman = 'i aM SuperMan!'
superman

'i aM SuperMan!'

In [68]:
superman.capitalize()  # 문자열의 가장 첫 문자인 I 만 대문자, 나머지는 다 소문자로 변경

'I am superman!'

In [69]:
superman.title()       # 띄어쓰기로 구분된 i, aM, SuperMan! 문자열 대상으로 각 문자열 첫 글자만 대문자 변경

'I Am Superman!'

### 12. 싹 대문자로/소문자로 바꿔! : upper / lower

In [71]:
superman.upper()

'I AM SUPERMAN!'

In [73]:
superman.lower()

'i am superman!'