<a href="https://colab.research.google.com/github/eseulLee/python/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0%EB%AA%A8%EC%9D%98_1%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ÏûëÏóÖ 1Ïú†Ìòï

## ‚ö†Ô∏è Attention
Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (ÌõÑÏ≤òÎ¶¨ ÏûëÏóÖ)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : ÏùÄÌñâÏùò Ï†ÑÌôî ÎßàÏºÄÌåÖÏóê ÎåÄÌï¥ Í≥†Í∞ùÏùò Î∞òÏùë Ïó¨Î∂Ä

dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

### ü•∏ Question 1
ÎßàÏºÄÌåÖ ÏùëÎãµ Í≥†Í∞ùÎì§Ïùò ÎÇòÏù¥Î•º 10ÏÇ¥ Îã®ÏúÑÎ°ú Î≥ÄÌôò ÌñàÏùÑ Îïå, Í∞ÄÏû• ÎßéÏùÄ Ïù∏ÏõêÏùÑ Í∞ÄÏßÑ ÎÇòÏù¥ÎåÄÎäî? (0~9 : 0 , 10~19 : 10)

In [14]:
def changeAge(x) :
    new_age = (x // 10) * 10
    return new_age

result1 = df.age.agg(changeAge).value_counts().index[0]
print(result1)

30

### ü•∏ Question 2
ÎßàÏºÄÌåÖ ÏùëÎãµ Í≥†Í∞ùÎì§Ïùò ÎÇòÏù¥Î•º 10ÏÇ¥ Îã®ÏúÑÎ°ú Î≥ÄÌôò ÌñàÏùÑ Îïå, Í∞ÄÏû• ÎßéÏùÄ ÎÇòÏù¥ÎåÄ Íµ¨Í∞ÑÏùò Ïù∏ÏõêÏùÄ Î™áÎ™ÖÏù∏Í∞Ä?

In [13]:
result2 = df.age.agg(changeAge).value_counts().values[0]
print(result2)

5056

### ü•∏ Question 3
ÎÇòÏù¥Í∞Ä 25ÏÇ¥ Ïù¥ÏÉÅ 29ÏÇ¥ ÎØ∏ÎßåÏù∏ ÏùëÎãµ Í≥†Í∞ùÎì§Ï§ë housingÏª¨ÎüºÏùò Í∞íÏù¥ yesÏù∏ Í≥†Í∞ùÏùò ÏàòÎäî?

In [24]:
result3 = df[(df.age >= 25) & (df.age < 29) & (df.housing == 'yes')].shape[0]
print(result3)

504

### ü•∏ Question 4
numericÌïú Í∞íÏùÑ Í∞ÄÏßÄÏßÄ ÏïäÏùÄ Ïª¨ÎüºÎì§Ï§ë uniqueÌïú Í∞íÏùÑ Í∞ÄÏû• ÎßéÏù¥ Í∞ÄÏßÄÎäî Ïª¨ÎüºÏùÄ?

In [32]:
cols = df.select_dtypes(exclude=int).columns
lst  = []
for col in cols :
    target = df[col]
    lst.append([col, target.nunique()])
result = pd.DataFrame(lst).sort_values(1, ascending=False).values[0][0]
print(result)

job

### ü•∏ Question 5
balance Ïª¨ÎüºÍ∞íÎì§Ïùò ÌèâÍ∑†Í∞í Ïù¥ÏÉÅÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º IDÍ∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ÌñàÏùÑÎïå ÏÉÅÏúÑ 100Í∞ú Îç∞Ïù¥ÌÑ∞Ïùò balanceÍ∞íÏùò ÌèâÍ∑†ÏùÄ?

In [36]:
target = df[df.balance >= df.balance.mean()].sort_values(by='ID', ascending=False).head(100)
print(target.balance.mean())

3473.73

### ü•∏ Question 6
Í∞ÄÏû• ÎßéÏùÄ Í¥ëÍ≥†Î•º ÏßëÌñâÌñàÎçò ÎÇ†ÏßúÎäî Ïñ∏Ï†úÏù∏Í∞Ä? (Îç∞Ïù¥ÌÑ∞ Í∑∏ÎåÄÎ°ú Ïùº(Ïà´Ïûê),Îã¨(ÏòÅÎ¨∏)ÏúºÎ°ú ÌëúÍ∏∞)

In [38]:
result6 = df[['day', 'month']].value_counts().index[0]
print(result6)

(15, 'may')

### ü•∏ Question 7
Îç∞Ïù¥ÌÑ∞Ïùò jobÏù¥ unknown ÏÉÅÌÉúÏù∏ Í≥†Í∞ùÎì§Ïùò age Ïª¨Îüº Í∞íÏùò Ï†ïÍ∑úÏÑ±ÏùÑ Í≤ÄÏ†ïÌïòÍ≥†Ïûê ÌïúÎã§. ÏÉ§ÌîºÎ°ú Í≤ÄÏ†ïÏùò p-valueÍ∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [46]:
from scipy.stats import shapiro
shapiro(df[df.job == 'unknown'].age)[1]

0.1961131989955902

### ü•∏ Question 8
age ÏôÄ balance Ïùò ÏÉÅÍ¥ÄÍ≥ÑÏàò Íµ¨ÌïòÏó¨Îùº

In [48]:
result8 = df[['age', 'balance']].corr().iloc[0,1]
print(result8)

0.10198734763981462

### ü•∏ Question 9
y Î≥ÄÏàòÏôÄ education Î≥ÄÏàòÎäî ÎèÖÎ¶ΩÏù∏ÏßÄ Ïπ¥Ïù¥Ï†úÍ≥±Í≤ÄÏ†ïÏùÑ ÌÜµÌï¥ ÌôïÏù∏ÌïòÎ†§ÌïúÎã§. p-valueÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

In [3]:
v = pd.crosstab(df.y, df.education)
from scipy.stats import chi2_contingency
chi2, p, dof, expected = chi2_contingency(v)

display(v)
print(p)

education  primary  secondary  tertiary  unknown
y
no            1424       4555      2559      365
yes            456       1813      1516      182

7.901201277473551e-29

### ü•∏ Question 10
Í∞Å jobÏóê Îî∞Îùº divorced/married Ïù∏ÏõêÏùò ÎπÑÏú®ÏùÑ ÌôïÏù∏ ÌñàÏùÑ Îïå Í∑∏ Í∞íÏù¥ Í∞ÄÏû• ÎÜíÏùÄ Í∞íÏùÄ?

In [24]:
target = df.groupby(['job','marital']).size().reset_index()
pivotdf = target.pivot_table(index='job', columns = 'marital')[0]
pivotdf = pivotdf.fillna(0) # Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨
pivotdf['ratio'] = pivotdf['divorced'] / pivotdf['married']

result = pivotdf.sort_values('ratio').ratio.values[-1]
print(result)

0.2831050228310502

# ÏûëÏóÖ 2Ïú†Ìòï

## ‚ö†Ô∏è Attention
Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (ÌõÑÏ≤òÎ¶¨ ÏûëÏóÖ)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : ÏùÄÌñâÏùò Ï†ÑÌôî ÎßàÏºÄÌåÖÏóê ÎåÄÌï¥ Í≥†Í∞ùÏùò Î∞òÏùë Ïó¨Î∂Ä

train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv

submission : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv

In [25]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome
0,53608,32,management,single,tertiary,no,12569,no,no,cellular,1,jul,2,295,2,success
1,51055,25,services,single,secondary,no,801,no,no,cellular,5,jun,2,-1,0,unknown
2,52573,46,blue-collar,married,secondary,no,1728,yes,no,unknown,26,may,2,-1,0,unknown
3,50458,39,management,divorced,secondary,no,51,no,no,unknown,17,jun,2,-1,0,unknown
4,52272,31,services,single,tertiary,no,1626,no,no,unknown,31,jul,1,-1,0,unknown

      ID  predict
0  53608      0.0
1  51055      0.0
2  52573      0.0
3  50458      0.0
4  52272      0.0

### Í∞ÑÎã®Ìïú Î™®Îç∏ÎßÅ ÏûëÏóÖ
Î™®Îç∏ÎßÅ Î∞è submissionÌååÏùº ÏÉùÏÑ±ÍπåÏßÄ

In [30]:
# train.info() # Í≤∞Ï∏°Ïπò ÏóÜÏùå
# train.select_dtypes(include = object).columns 
# ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

# test.info() Í≤∞Ï∏°ÏπòÏóÜÏùå
train.shape, test.shape, submission.shape

((12870, 17), (4291, 16), (4291, 2))

In [31]:
train.describe()

,ID,age,balance,day,campaign,pdays,previous
count,12870.000000,12870.000000,12870.000000,12870.000000,12870.000000,12870.000000,12870.000000
mean,16434.500000,41.091142,1483.774437,15.641103,2.659130,45.555478,0.688967
std,3715.393317,11.305560,3311.055181,8.368983,2.863507,104.449411,2.049696
min,10000.000000,18.000000,-6847.000000,1.000000,1.000000,-1.000000,0.000000
25%,13217.250000,32.000000,102.000000,8.000000,1.000000,-1.000000,0.000000
50%,16434.500000,39.000000,515.000000,16.000000,2.000000,-1.000000,0.000000
75%,19651.750000,49.000000,1591.750000,21.000000,3.000000,-1.000000,0.000000
max,22869.000000,95.000000,102127.000000,31.000000,43.000000,854.000000,58.000000

In [52]:
from sklearn.model_selection import train_test_split

X = train.drop(columns = ['ID', 'y'])
y = train.y
# job, month : nunique 12
Xd = pd.get_dummies(X) # ÏûêÎèôÏúºÎ°ú Î≤îÏ£ºÌòï Î≥ÄÏàò(object) Îßå Ïù∏ÏΩîÎî© ÏàòÌñâ

X_train, X_test, y_train, y_test = train_test_split(Xd, y, stratify=y, random_state=42 )

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
prob = rf.predict_proba(X_test)

from sklearn.metrics import roc_auc_score, classification_report
print('test roc score : ', roc_auc_score(y_test, prob[:,1]))
# print(prob)

Xt = test.drop(columns = ['ID'])
y_pred = rf.predict_proba(pd.get_dummies(Xt))
submission['predict'] = y_pred[:,1]

print('submission file - ')
display(submission.head())
submission.to_csv('004001561.csv', index=False)

test roc score :  0.7823669771469148
submission file -

      ID  predict
0  53608     0.80
1  51055     0.84
2  52573     0.07
3  50458     0.18
4  52272     0.33